<app-header [companyInfo]="mainPageInfo?.general" [showStickyCompanyInfo]="false"></app-header>
    <main class="landing-main">
        <app-banner></app-banner>
        <div class="container">
            <app-benefits></app-benefits>
            <div class="section-title">
                <h2>Data representation</h2>
                <span class="section-title__secondary">Be a better long-term investor: take advantage of short-term opportunities </span>
            </div>
            <div class="row">
                <div class="col-lg-16 col-md-24 order-2 order-lg-1">
                    <app-analyst-price class="section section--analyst" [analystPrice]="mainPageInfo?.analyst_price"></app-analyst-price>
                </div>
                <div class="col-lg-8 col-md-24 order-1 order-lg-2">
                    <app-benchmark-index class="aside" [benchmarkIndex]="benchmarkData"></app-benchmark-index>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-16 col-md-24">
                    <app-main-chart class="section section--price" [benchmarkIndex]="benchmarkData" [spyIsActive]="true"></app-main-chart>
                    <app-growth-chart class="section section--growth" [growthChart]="mainPageInfo?.growth"></app-growth-chart>
                    <app-profitability-chart class="section section--growth" [profitabilityChart]="mainPageInfo?.profitability"></app-profitability-chart>
                </div>
                <div class="col-lg-8 col-md-24">
                    <app-valuation-chart class="section section--valuation" [valuationChart]="valuationData"></app-valuation-chart>
                    <app-divident-chart class="section section--dividend" [dividendChart]="dividendData"></app-divident-chart>
                    <app-risk-chart class="section section--valuation" [riskChart]="riskData"></app-risk-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-24">
                    <div class="section-subscription section-subscription-landing">
                        <div class="section-subscription__text">
                            <p>For busy and mobile individual investors interested in stock markets, <b>ShareUpp</b> is the platform that eases your investment decision among all financial information providers.</p>
                            <p><b>ShareUpp</b> makes the investment process simple and collaborative</p>
                        </div>
                        <div class="section-subscription__form">
                            <strong>Receive the news when our new feature will be released</strong>
                            <app-subscription-form class="subscribe"></app-subscription-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<app-footer></app-footer>