<div class="section-top">
    <h2 class="h2">Risk</h2><span class="section-top__sub">Volatility</span>
  </div>
  <div class="bars-vertical bars-vertical--etf-risk">
    <div class="chart-container js-bars-vertical">
        <canvas #riskChart></canvas>
    </div>
  </div>  