
  <div class="section-top">
    <h2 class="h2">Growth (%)</h2><span class="section-top__sub">Quarter Year-over-Year</span>
  </div>
  <div class="bars-horizontal">
    <div class="chart-container js-bars-horizontal">
      <!-- <canvas
        baseChart
        [datasets]="horizontalChartData"
        [labels]="horizontalChartLabels"
        [options]="horizontalChartOptions"
        [legend]="horizontalChartLegend"
        [chartType]="horizontalChartType"
        #chartProps="base-chart"
      ></canvas> -->
      <canvas #growthChart></canvas>
    </div>
  </div>
