<div class="modal-wrapper modal-wrapper--lg">
    <p class="modal-title">Privacy Policy</p>
    <button type="button" class="modal-close" mat-dialog-close>
        <svg class="icon icon-close">
            <use xlink:href="#icon-close"></use>
        </svg>
    </button>
    <mat-dialog-content>
        <ul class="modal-list h-reset-list">
            <li class="modal-list__item">
                <span class="modal-list__title">1. Title</span>
                <p class="modal-list__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis ut facilis, quaerat aut omnis nulla, maiores ducimus adipisci earum totam error eaque impedit nisi quam dolor deleniti iure ea voluptatem repellendus? Porro voluptas quidem nostrum? Laboriosam excepturi et obcaecati aperiam nihil voluptatibus, necessitatibus placeat iste inventore voluptatum cupiditate suscipit veniam?</p>
            </li>
            <li class="modal-list__item">
                <span class="modal-list__title">2. Title</span>
                <p class="modal-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut molestiae error minus adipisci repellendus et illum nihil voluptatum saepe consequuntur?</p>
            </li>
            <li class="modal-list__item">
                <span class="modal-list__title">3. Title</span>
                <p class="modal-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, at.</p>
            </li>
            <li class="modal-list__item">
                <span class="modal-list__title">4. Title</span>
                <p class="modal-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit quisquam quas dolor minus quaerat, asperiores provident ullam consequatur enim omnis voluptatum. Aspernatur sed voluptate omnis inventore nulla eveniet suscipit provident a! Expedita, est voluptatem. Quae dolores in aspernatur similique libero iste esse numquam ipsa aliquid aperiam soluta itaque distinctio cumque iure impedit quas officia, saepe eum, quia dolorum provident quis voluptas sequi. Quasi voluptatum neque sunt, omnis illo ipsum nobis id quis minus quaerat deleniti illum qui commodi fugit veritatis vitae cum, obcaecati deserunt dignissimos? Eos temporibus omnis, pariatur perspiciatis laudantium tempore voluptate ipsum, aperiam labore vero nobis repudiandae voluptatem!</p>
            </li>
            <li class="modal-list__item">
                <span class="modal-list__title">5. Title</span>
                <p class="modal-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint molestiae vero exercitationem nostrum dolorum ut cumque tenetur accusantium. Tempora optio nostrum ad laborum in, laudantium quisquam quibusdam culpa aut laboriosam! Eligendi libero fuga repudiandae voluptate aliquid? Corrupti consequuntur consequatur eius dolore quas sint fuga quisquam repellat? Fugit vero voluptatibus voluptas molestias, magnam nesciunt quisquam, consectetur nobis ratione reprehenderit explicabo repellendus quos in magni reiciendis aperiam atque numquam dolorem aut rerum velit excepturi veniam cupiditate. Tempora debitis unde quos cupiditate odio?</p>
            </li>
            <li class="modal-list__item">
                <span class="modal-list__title">6. Title</span>
                <p class="modal-list__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis ut facilis, quaerat aut omnis nulla, maiores ducimus adipisci earum totam error eaque impedit nisi quam dolor deleniti iure ea voluptatem repellendus? Porro voluptas quidem nostrum? Laboriosam excepturi et obcaecati aperiam nihil voluptatibus, necessitatibus placeat iste inventore voluptatum cupiditate suscipit veniam?</p>
            </li>
            <li class="modal-list__item">
                <span class="modal-list__title">7. Title</span>
                <p class="modal-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut molestiae error minus adipisci repellendus et illum nihil voluptatum saepe consequuntur?</p>
            </li>
            <li class="modal-list__item">
                <span class="modal-list__title">8. Title</span>
                <p class="modal-list__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, at.</p>
            </li>
            <li class="modal-list__item">
                <span class="modal-list__title">9. Title</span>
                <p class="modal-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit quisquam quas dolor minus quaerat, asperiores provident ullam consequatur enim omnis voluptatum. Aspernatur sed voluptate omnis inventore nulla eveniet suscipit provident a! Expedita, est voluptatem. Quae dolores in aspernatur similique libero iste esse numquam ipsa aliquid aperiam soluta itaque distinctio cumque iure impedit quas officia, saepe eum, quia dolorum provident quis voluptas sequi. Quasi voluptatum neque sunt, omnis illo ipsum nobis id quis minus quaerat deleniti illum qui commodi fugit veritatis vitae cum, obcaecati deserunt dignissimos? Eos temporibus omnis, pariatur perspiciatis laudantium tempore voluptate ipsum, aperiam labore vero nobis repudiandae voluptatem!</p>
            </li>
            <li class="modal-list__item">
                <span class="modal-list__title">10. Title</span>
                <p class="modal-list__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint molestiae vero exercitationem nostrum dolorum ut cumque tenetur accusantium. Tempora optio nostrum ad laborum in, laudantium quisquam quibusdam culpa aut laboriosam! Eligendi libero fuga repudiandae voluptate aliquid? Corrupti consequuntur consequatur eius dolore quas sint fuga quisquam repellat? Fugit vero voluptatibus voluptas molestias, magnam nesciunt quisquam, consectetur nobis ratione reprehenderit explicabo repellendus quos in magni reiciendis aperiam atque numquam dolorem aut rerum velit excepturi veniam cupiditate. Tempora debitis unde quos cupiditate odio?</p>
            </li>
        </ul>
    </mat-dialog-content>
</div>