html {
	height: 100%;
	font-size: 10px;
}
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	min-width: 320px;
	color: $black;
	font-family: 'Roboto', sans-serif;
	&.body-fixed {
		@include media-breakpoint-down(md) {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}
}

main {
	padding: 5rem 0;
	@include media-breakpoint-down(sm) {
		padding: 2rem 0;
	}
	&.landing-main {
		padding: 0 0 5rem 0;
		@include media-breakpoint-down(sm) {
			padding: 0 0 2rem 0;
		}
	}
}

img{
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
	transition: all $transition-duration $transition-type;
	&:focus {
		outline: none;
	}
}

span, time {
	font-size: 1.4rem;
	line-height: 1em;
	@include media-breakpoint-down(xs) {
		font-size: 1.2rem;
	}
}

strong {
	font-weight: 500;
}

p {
	font-size: 1.4rem;
	line-height: 1.4em;
	margin-bottom: 6px;
	@include media-breakpoint-down(xs) {
		font-size: 1.2rem;
	}
}

a {
	color: $black;
	transition: color $transition-duration $transition-type;
	&:hover {
		color: $green;
		text-decoration: none;
	}
}
