<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a routerLink="/" class="footer__logo">
        <svg class="icon icon-logo">
          <use xlink:href="#icon-logo"></use>
      </svg>
      </a>
      <div class="footer__content"><span class="footer__content-txt">ShareUpp is a platform that helps you to learn about investment</span>
        <ul class="footer__content-list">
          <!-- <li class="footer__content-li">
            <a href="javascript:void(0)" class="footer__content-link"><span>FAQ</span></a>
          </li>
          <li class="footer__content-li">
            <a href="javascript:void(0)" class="footer__content-link"><span>Blog</span></a>
          </li> -->
          <li class="footer__content-li">
            <a href="javascript:void(0)" class="footer__content-link" (click)="openTermsOfServiceDialog()"><span>Terms of Service</span></a>
          </li>
          <li class="footer__content-li">
            <a href="javascript:void(0)" class="footer__content-link" (click)="openPrivacyPolicyDialog()"><span>Privacy Policy</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom"><span>© 2018 — 2020 ShareUpp</span></div>
  </div>
</footer>
