<header class="header" [class.menu-open]="menuState">
  <div class="premium-container" *ngIf="showPremiumBlock">
    <div class="premium-container__inner">
      <!-- <button type="button" class="premium-container__close" (click)="closePremiumBlock()"> -->
      <button type="button" class="premium-container__close">
        <svg class="icon icon-close">
          <use xlink:href="#icon-close"></use>
        </svg>
      </button>
      <!-- <button type="button" class="button button--blue" (click)="subscribePremium()"> -->
      <button type="button" class="button button--blue">
        <svg class="icon icon-crown">
          <use xlink:href="#icon-crown"></use>
        </svg>
        <span>Be first to know about Premium version</span>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="header__inner">
      <a routerLink="/" class="header__logo">
        <svg class="icon icon-logo">
          <use xlink:href="#icon-logo"></use>
        </svg>
      </a>
      <div class="header__line">
        <button type="button" class="header__linkIcon header__burger" (click)="openMenu()">
          <svg class="icon icon-menu">
            <use xlink:href="#icon-menu"></use>
          </svg>
          <svg class="icon icon-close">
            <use xlink:href="#icon-close"></use>
          </svg>
        </button>
        <div class="header__line-content">
          <app-search-form class="search-form"></app-search-form>
          <!-- <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-list-li"><a href="javascript:void(0)" class="header__linkTxt"><span>FAQ</span></a>
              </li>
              <li class="header__nav-list-li"><a href="javascript:void(0)" class="header__linkTxt"><span>Blog</span></a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
  </div>
  <div class="header-fixed" [ngClass]="{'visible' : visibleState}">
    <div class="container">
      <div class="header-fixed__inner">
        <div class="header-fixed__inner-left">
          <a routerLink="/" class="header-fixed__logo">
            <svg class="icon icon-logo">
              <use xlink:href="#icon-logo"></use>
            </svg>
          </a>
          <div class="section-info__top" *ngIf="showStickyCompanyInfo">
            <div class="section-info__top-icon" *ngIf="companyInfo.logo">
              <img src="https://eodhistoricaldata.com{{companyInfo.logo}}" alt="">
            </div>
            <div class="section-info__top-txt">
              <h2 class="h2">{{ companyInfo.name.name }} ({{ companyInfo.name.code }})</h2>
              <div class="section-info__top-component" *ngIf="companyInfo.component_of">
                <span>Component of:
                  <span *ngFor="let item of companyInfo.component_of" [title]="item.name">{{ item.code }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="header-fixed__inner-right">
          <app-search-form class="header-fixed__inner-form"></app-search-form>
        </div>
      </div>
    </div>
  </div>
  <div class="close-menu-field" (click)="closeMenu()"></div>
</header>
