<!-- <div class="premium-container" *ngIf="showPremiumBlock"> -->
<div class="premium-container">
  <div class="premium-container__inner">
    <!-- <button type="button" class="button button--blue" (click)="subscribePremium()"> -->
    <button type="button" class="button button--silver" *ngIf="etfStuff">
      <svg class="icon icon-plus">
        <use xlink:href="#icon-plus"></use>
      </svg>
      <span>Add to watchlist</span>
    </button>
    <button type="button" class="button button--blue">
      <svg class="icon icon-crown">
        <use xlink:href="#icon-crown"></use>
      </svg>
      <span>Be first to know about Premium version</span>
    </button>
  </div>
</div>
