.allocation {
    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
    &-side {
        width: 50%;
        @media (max-width: 767px) {
            width: 100%;
        }
        & + .allocation-side {
            @media (max-width: 767px) {
                margin-top: 3rem;
            }
        }
    }
    &-inner {
        display: flex;
        align-items: center;
        &__plug {
            width: 13.8rem;
            height: 13.8rem;
            border-radius: 50%;
            border: 2rem solid #3c80ec;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
        }
    }
    &-labels {
        text-align: left;
        &__item {
            display: block;
            width: 100%;
            margin: 1rem 0;
            font-size: 1.2rem;
            line-height: 1.15em;
            letter-spacing: 0.02em;
            color: #6F6E6E;
        }
    }
}