.analyst-price {
  &-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(xs) {
      flex-wrap: wrap;
    }
  }
  &-side {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}

.analyst {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-bottom: 2rem;
  @include media-breakpoint-down(xs) {
    // flex-direction: column;
  }

  &-graph {
    flex-shrink: 0;
    width: 35rem;
    // border: 1px solid red;
    @include media-breakpoint-down(xs) {
      width: calc(100% - 2rem);
      margin-bottom: 4rem;
    }
    &__change-data-wrap {
      position: absolute;
      width: 45%;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    &__line {
      display: flex;
      height: 1px;
      width: 100%;
      background-color: $grey;
      position: relative;
      &__min, &__max {
        position: absolute;
        top: -8px;
        .analyst-graph__line__circle {
          background-color: $white-almost;
          border: 2px solid $grey;
          top: 0;
        }
        .analyst-graph__line__txt {
          margin-top: 2.5rem;
        }
      }
      &__min {
        right: 100%;
        width: 1.6rem;
        height: 1.6rem;
        .analyst-graph__line__circle {
          left: 0;
          &:after {
            content: '';
            display: block;
            width: 1px;
            height: 2rem;
            border-left: 2px dashed rgba(0, 0, 0, 0.15);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
          }
        }
        .analyst-graph__line__txt {
          text-align: left;
          white-space: nowrap;
        }
      }
      &__max {
        left: 100%;
        width: 1.6rem;
        height: 1.6rem;
        .analyst-graph__line__circle {
          right: 0;
          left: auto;
          &:after {
            content: '';
            display: block;
            width: 1px;
            height: 2rem;
            border-left: 2px dashed rgba(0, 0, 0, 0.15);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
          }
        }
        .analyst-graph__line__txt {
          text-align: right;
          white-space: nowrap;
          @include media-breakpoint-down(xs) {
            position: absolute;
            right: 0;
          }
        }
      }
      &__wrap {
        width: calc(100% - 32px);
        height: 1px;
        z-index: 20;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
      }
      &__current {
        position: relative;
        display: flex;
        left: 10%;
        top: -1px;
        width: 1.6rem;
        height: 1.6rem;
        &.is-general {
          order: 0;
        }
        &.is-secondary {
          order: 1;
        }
        &.is-reversed {
          flex-direction: row-reverse;
          .analyst-graph__line__txt {
            &:before {
              left: auto;
              right: 7px;
            }
          }
        }
        .analyst-graph__line__circle {
          background-color: $grey-light;
          border: 2px solid $green;
          bottom: 0;
        }
        .analyst-graph__line__txt {
          position: absolute;
          margin-bottom: 5.5rem;
          margin-left: 7px;
          flex-shrink: 0;
          white-space: nowrap;
          bottom: 20px;
          @include media-breakpoint-down(xs) {
            flex-shrink: unset;
            bottom: 15px;
            margin-bottom: 7rem;
          }
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: calc(100% - 1px);
            width: 1px;
            height: 5.8rem;
            border-left: 2px dashed rgba(0,0,0,.15);
            @include media-breakpoint-down(xs) {
              height: 6.6rem;
            }
          }
        }
        &.current--downside {
          .analyst-graph__line__circle {
            border: 2px solid $red;
          }
        }
      }
      &__target {
        position: relative;
        display: flex;
        left: 50%;
        top: -1px;
        width: 1.6rem;
        height: 1.6rem;
        &.is-general {
          order: 0;
        }
        &.is-secondary {
          order: 1;
        }
        &.is-reversed {
          flex-direction: row-reverse;
          .analyst-graph__line__txt {
            &:before {
              left: auto;
              right: 7px;
            }
          }
        }
        .analyst-graph__line__txt {
          position: absolute;
          margin-bottom: 3.6rem;
          margin-left: 7px;
          flex-shrink: 0;
          white-space: nowrap;
          bottom: 2rem;
          @include media-breakpoint-down(xs) {
            flex-shrink: unset;
          }
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 1px;
            top: 12px;
            height: 4rem;
            border-left: 2px dashed rgba(0,0,0,.15);
          }
        }
        .analyst-graph__line__circle {
          background-color: $grey-light;
          border: 2px solid $blue-light;
          bottom: 0;
        }
      }
      &__circle {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        position: absolute;
        left: 0;
        z-index: 1;
      }
      &__txt {
        font-size: 1.2rem;
        display: inline-block;
      }
    }
  }
  &-status {
    flex-grow: 1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-down(xs) {
      margin: 1rem;
    }
    &__ttl {
      max-width: 11rem;
      margin-bottom: 1.6rem;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.6em;
      text-align: center;
      @include media-breakpoint-down(xs) {
        margin-bottom: 1rem;
      }
    }
    &__value {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .icon {
        font-size: 2.8rem;
        margin-right: 5px;
        flex-shrink: 0;
      }
      &-txt {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.2em;
        &:after {
          content: '%'
        }
      }

      &--up {
        color: $green;
        .analyst-status__value-txt {
          &:before {
            content: '+'
          }
        }
      }
      &--down {
        color: $red;
        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
