.section {

  &-info {
    &__top {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      &-icon {
        flex-shrink: 0;

        width: 8rem;
        height: 8rem;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 2rem;

        @include media-breakpoint-down(xs) {
          width: 5rem;
          height: 5rem;
          margin-right: 1rem;
        }

        .icon {
          font-size: 6.5rem;
          @include media-breakpoint-down(xs) {
            font-size: 4rem;
          }
        }
      }
      &-txt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .section-info__top-component {
          span {
            font-size: 1.4rem;
            line-height: 1em;
          }
        }
        .h1 {
          margin-bottom: 0;
          &:not(:last-child) {
            margin-bottom: 1rem;
            @include media-breakpoint-down(xs) {
              margin-bottom: 5px;
            }
          }
        }
      }
      &-component {
        display: flex;
        span, p {
          font-size: 1.8rem;
          line-height: 1.4rem;
          span, p {
            &:not(:last-child) {
              &:after {
                content: ', ';
              }
            }
          }
        }
      }
    }
    &__content {
      max-width: 54rem;
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }

      &-header {
        display: flex;
        align-items: flex-start;

        &-col {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          @include media-breakpoint-down(xs) {
            // max-width: 13rem;
          }
          &:not(:last-child) {
            margin-right: 4rem;
            @include media-breakpoint-down(xs) {
              margin-right: 2rem;
            }
          }
        }
      }
      &-val {
        font-weight: 500;
        font-size: 3.6rem;
        line-height: 1.2em;
        display: block;
        @include media-breakpoint-down(sm) {
          font-size: 3.2rem;
        }
        @include media-breakpoint-down(xs) {
          font-size: 2.4rem;
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
          margin-right: 3rem;
          @include media-breakpoint-down(xs) {
            margin-right: 2rem;
          }
        }
        &__time {
          max-width: 155px;
          font-size: 1.4rem;
          line-height: 1.4em;
        }
        &-wrap {
          display: flex;
        }
      }
      &-det {
        display: block;
        @include media-breakpoint-down(xs) {
          font-size: 1.2rem;
          line-height: 1.4em;
        }
      }
      &-status {
        display: block;
        font-size: 1.8rem;
        line-height: 1.2em;
        font-weight: 500;
        @include media-breakpoint-down(xs) {
          font-size: 1.4rem;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        &.decor--color-green {
          &:before {
            content: '+'
          }
        }
      }
      &-article {
        &__inner {
          overflow: hidden;
          margin-bottom: 1rem;
        }
      }
      &-txt {
        display: block;
        @include media-breakpoint-down(xs) {
          font-size: 1.2rem;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
      &-list {
        &:nth-child(n + 2) {
          margin-top: 2rem;
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &-li {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          &-ttl {
            color: $grey-dark;
            padding-right: 4px;
          }
          &-rate {
            &[data-rate="1"] {
              &:after {
                content: '★';
              }
            }
            &[data-rate="2"] {
              &:after {
                content: '★★';
              }
            }
            &[data-rate="3"] {
              &:after {
                content: '★★★';
              }
            }
            &[data-rate="4"] {
              &:after {
                content: '★★★★';
              }
            }
            &[data-rate="5"] {
              &:after {
                content: '★★★★★';
              }
            }
            &[data-rate="6"] {
              &:after {
                content: '★★★★★★';
              }
            }
          }
        }
      }
      &-tooltip {
        margin: 5px auto 0 auto;
      }
    }
  }
  &-top {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    .h2 {
      margin-bottom: 6px;
    }
    &__sub {
      color: $grey-dark;
      font-size: 1.2rem;
    }
  }
}

