.premium-container {
  width: 100%;
  @include media-breakpoint-down(md) {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // width: 100%;
    // z-index: 100;
    display: none;
    background-color: $blue;

    // transform: translateY(-100%);
    // transition: all $transition-duration $transition-type;
  }
  &-wrap {
    width: 100%;
    display: block;
  }
  &__inner {
    display: flex;
    justify-content: flex-end;
    position: relative;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      justify-content: flex-start;
      max-width: 76.8rem;
      padding: 0 1.5rem;
      margin: 0 auto;
    }
    .button {
      & + .button {
        margin-top: 2rem;
      }
    }
  }

  &--visible {
    @include media-breakpoint-down(md) {
      transform: translateY(0);
    }
  }



  .button {
    width: 22.5rem;
    @include media-breakpoint-down(md) {
      width: calc(100% - 4rem);
      justify-content: flex-start;
      padding: 2rem 1.2rem 2rem 0;
    }
    @include media-breakpoint-down(xs) {
      padding: 2rem 1.2rem 2rem 0;
    }
    & > span {
      @include media-breakpoint-down(md) {
        line-height: 1em;
      }
      @include media-breakpoint-down(xs) {
        font-size: 1.2rem;
      }
    }
  }

  &__close {
    display: none;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;

    position: absolute;
    top: 0;
    right: 1.5rem;
    bottom: 0;
    margin: auto 0;
    z-index: 1;

    color: $white;
    @include media-breakpoint-down(md) {
      display: flex;
      height: 100%;
      width: 4rem;
    }
    @include media-breakpoint-down(xs) {
      width: 5rem;
    }
  }
}


.benchmark {
  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  &-ttl {
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }
  &-val {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
    &:before {
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
      flex-shrink: 0;
      content: " ";
    }

    &--green {
      &:before {
        background-color: $green;
      }
    }
    &--blue {
      &:before {
        background-color: $blue;
      }
    }
    &--red {
      &:before {
        background-color: $red;
      }
    }
    &--neutral {
      &:before {
        background: linear-gradient(to right, #578BDE 50%, #DDEAFF 50% 50%);
      }
    }
  }
}
