.banner {
    &-wrapper {
        width: 100%;
        background-color: #FBFBFB;
        padding: 1px 0;
        position: relative;
        @include media-breakpoint-down(sm) {
            padding: 3rem 0;
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 4rem;
            background-image: url('../assets/images/useful/banner.png');
            background-repeat: no-repeat;
            background-position: center right;
            @include media-breakpoint-down(lg) {
                background-size: auto 520px;
                background-position: top right;
            }
            @include media-breakpoint-down(md) {
                width: calc(100% + 15rem);
                right: -15rem;
            }
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    &-inner {
        height: 100%;
        height: 65rem;
        position: relative;
        z-index: 1;
        @include media-breakpoint-down(lg) {
            height: 48rem;
        }
        @include media-breakpoint-down(sm) {
            height: auto;
        }
        &__search {
            width: 100%;
            max-width: 40rem;
        }
    }
    &-text {
        width: 100%;
        max-width: 52rem;
        margin-top: 20rem;
        @include media-breakpoint-down(lg) {
            margin-top: 10rem;
        }
        @include media-breakpoint-down(md) {
            max-width: 40rem;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 0;
        }
        &__title {
            font-weight: 800;
            font-size: 6.4rem;
            line-height: 1.2em;
            color: $black;
            margin-bottom: 3.5rem;
            @include media-breakpoint-down(lg) {
                font-size: 5.6rem;
                margin-bottom: 2rem;
            }
            @include media-breakpoint-down(md) {
                font-size: 4.5rem;
            }
            @include media-breakpoint-down(sm) {
                font-size: 3.6rem;
            }
            i {
                font-style: normal;
            }
            .dekor--green {
                color: $green;
            }
        }
        .button {
            max-width: 22rem;
        }
        p {
            margin-bottom: 3rem;
            font-size: 1.8rem;
            line-height: 1.6em;
            @include media-breakpoint-down(lg) {
                margin-bottom: 2rem;
                font-size: 1.6rem;
            }
            @include media-breakpoint-down(sm) {
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
            }
            br {
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
    }
}