.bar-info {
    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
        }
    }
    &-side {
        width: 17rem;
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
        &:not(:last-child) {
            margin-right: 6rem;
            @include media-breakpoint-down(md) {
                margin-right: 5rem;
            }
            @include media-breakpoint-down(sm) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
        .section-top {
            margin-bottom: 3.8rem;
            @include media-breakpoint-down(lg) {
                margin-bottom: 2rem;
            }
        }
        .h2 {
            @include media-breakpoint-down(lg) {
                font-size: 1.6rem;
            }
            @include media-breakpoint-down(md) {
                font-size: 1.8rem;
            }
        }
    }
    &-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.5rem;
        grid-row-gap: 7px;
    }
    &-line {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        & + .bar-info-line {
            margin-top: 7px;
        }
        &__title {
            // width: 5.9rem;
            margin-right: 5px;
            text-align: left;
            font-size: 1.1rem;
            line-height: 1.18em;
            color: #101010;
        }
        &__progress {
            // width: calc(100% - 9.3rem);
            height: 1rem;
            &__inner {
                height: 100%;
                background-color: #578BDE;
            }
        }
        &__percentage {
            // width: 2.4rem;
            text-align: right;
            margin-left: 5px;
            font-size: 1rem;
            line-height: 1.2em;
            color: #6F6E6E;
        }
    }
    &-empty {
        display: block;
        font-weight: 600;
    }
}