.benefits {
    &-wrapper {
        padding: 4.4rem 0 7rem 0;
        @include media-breakpoint-down(sm) {
            padding: 3rem 0;
        }
    }
    &-inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 479px) {
            flex-wrap: wrap;
        }
    }
    &-col {
        width: calc(100% / 3);
        padding: 0 2rem;
        @media (max-width: 479px) {
            padding: 0;
            width: 100%;
            margin-bottom: 3rem;
        }
    }
    &-item {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        &__icon {
            color: $blue;
            margin-bottom: 3.6rem;
            width: 100%;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-down(lg) {
                height: 5rem;
                margin-bottom: 2rem;
            }
            @include media-breakpoint-down(md) {
                height: 4.4rem;
            }
            .icon {
                font-size: 6rem;
                @include media-breakpoint-down(lg) {
                    font-size: 5rem;
                }
                @include media-breakpoint-down(md) {
                    font-size: 4.4rem;
                }
            }
            .icon-virtual-marketing {
                font-size: 5rem;
                @include media-breakpoint-down(lg) {
                    font-size: 4rem;
                }
                @include media-breakpoint-down(md) {
                    font-size: 3.6rem;
                }
            }
        }
        &__text {
            display: block;
            width: 100%;
            max-width: 22rem;
            font-size: 1.6rem;
            line-height: 1.2em;
            color: $black;
            @include media-breakpoint-down(lg) {
                font-size: 1.5rem;
            }
            @include media-breakpoint-down(md) {
                font-size: 1.4rem;
            }
        }
    }
}