.form-control {
	width: 100%;
	font-size: 1.6rem;
	line-height: 1.2em;
	color: $black;
	border: none;
	border-bottom: 2px solid $grey-dark;
	background: transparent;
	padding: 1rem;
	border-radius: 0;
	font-family: "Roboto";
	transition: all $transition-duration $transition-type;

	&::placeholder{
		transition: opacity $transition-duration $transition-type;
		opacity: 1;
	}
	&:focus {
		 box-shadow: none;
		 background: transparent;
		 border-color: $green;
		&::placeholder{
			opacity: 0;
		}
	}
	&.error {
		border-color: #ff0000 !important;
		background-color: #ffdede;
	}

	&:disabled,
	&[disabled],
	&.disabled {
		pointer-events: none;
		cursor: default;
		opacity: .5;
		background: transparent;
	}
}
.form-group {
	margin-bottom: 2.5rem;
	display: flex;
	::-webkit-input-placeholder {
		font-family: "Roboto" !important;
		font-weight: 500 !important;
		font-size: 1.8rem !important;
		line-height: 1.2em !important;
		color: $grey-dark !important;
		@include media-breakpoint-down(lg) {
			font-size: 1.6rem !important;
		}
		@include media-breakpoint-down(xs) {
			font-size: 1.4rem !important;
		}
	}
	::-moz-placeholder {
		font-family: "Roboto" !important;
		font-weight: 500 !important;
		font-size: 1.8rem !important;
		line-height: 1.2em !important;
		color: $grey-dark !important;
		@include media-breakpoint-down(lg) {
			font-size: 1.6rem !important;
		}
		@include media-breakpoint-down(xs) {
			font-size: 1.4rem !important;
		}
	}
	:-ms-input-placeholder {
		font-family: "Roboto" !important;
		font-weight: 500 !important;
		font-size: 1.8rem !important;
		line-height: 1.2em !important;
		color: $grey-dark !important;
		@include media-breakpoint-down(lg) {
			font-size: 1.6rem !important;
		}
		@include media-breakpoint-down(xs) {
			font-size: 1.4rem !important;
		}
	}
	:-moz-placeholder {
		font-family: "Roboto" !important;
		font-weight: 500 !important;
		font-size: 1.8rem !important;
		line-height: 1.2em !important;
		color: $grey-dark !important;
		@include media-breakpoint-down(lg) {
			font-size: 1.6rem !important;
		}
		@include media-breakpoint-down(xs) {
			font-size: 1.4rem !important;
		}
	}


	&--error {
		input {
			border-color: $red !important;
		}
		.input-error {
			color: $red !important;
			line-height: 1.4em;
			font-weight: 500;
			display: flex;
			align-items: center;
			position: absolute;
			top: calc(100% + 6px);
			&__txt {
				line-height: 1;
				font-size: 1.2rem;
				@include media-breakpoint-down(xs) {
					font-size: 1rem;
				}
			}
			svg {
				margin-right: 5px;
				font-size: 1.2rem;
			}
		}
	}
}
.input-wrap,
.select-wrap {
	position: relative;
	width: 100%;
}
.bootstrap-select {
	&:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 100%;
	}
	& > .dropdown-toggle {
		&.dropdown-toggle,
		&.bs-placeholder {
			&,
			&:hover,
			&:focus,
			&:active {
				outline: none!important;
			}
		}
	}
}
label {
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;

	&.error {
		color: #ff0000;
	}
}
.hidden-input {
    visibility: hidden !important;
	position: absolute !important;
	z-index: -1 !important;
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
    left: 0 !important;
    top: 0 !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.field_clear_btn {
	transition: color 0.3s ease;
	margin-bottom: auto;
	position: absolute;
	margin-top: auto;
	display: block;
	color: #d8d8d8;
	height: 3rem;
	width: 3rem;
	bottom: 0;
	right: 0;
	top: 0;

	&:hover {
		border-color: #b61f27;
		color: #b61f27;
	}
	&:before,
	&:after {
		background-color: currentColor;
		position: absolute;
		display: block;
		margin: auto;
		content: '';
		height: 2px;
		width: 1.6rem;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

.checkbox-label {
	position: relative;
	display: flex;
	align-items: flex-start;
	margin-bottom: 0;
	&:hover {
		.check-icon {
			border: 1px solid $blue;
		}
	}
	&:disabled,
	&[disabled],
	&.disabled {
		pointer-events: none;
		cursor: default;
		opacity: 0.5;
	}
	.check-icon {
		border: 1px solid $grey;
		border-radius: 2px;
		position: relative;
		height: 1.6rem;
		width: 1.6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 6px;
		&:before {
			transform: rotate(-52.5deg) skew(-15deg);
			transition: opacity 0.3s ease;
			border-bottom: solid 2px white;
			border-left: solid 2px white;
			position: absolute;
			margin: auto;
			content: '';
			height: 6px;
			width: 11px;
			opacity: 0;
			top: -5px;
			left: 1px;
			bottom: 0;
			right: 0;
			display: none;
		}
	}
	.check-value {
		transition: color 0.3s ease;
		line-height: 1.4em;
		font-size: 1.2rem !important;
		color: $grey-dark;
		a, span {
			font-size: 14px !important;
		}
	}
	.check-icon {
		transition: all $transition-duration $transition-type;
		flex-shrink: 0;
		.icon {
			opacity: 0;
			transition: opacity $transition-duration $transition-type;
			color: white;
			font-size: 8px;
		}
	}
	&.label_grey {
		.check-value {
			color: #979797;
		}
	}
	input {
		&:checked {
			& ~ .check-icon {
				border: 1px solid $blue;
				background-color: $blue;
				&:before {
					opacity: 1;
				}
			}
			& ~ .check-icon {
				.icon {
					opacity: 1;
				}
			}
		}
		&:disabled {
			& ~ .check-icon {
				pointer-events: none;
				cursor: default;
				opacity: 0.5;
			}
			& ~ .check-value {
				pointer-events: none;
				cursor: default;
				opacity: 0.5;
			}
		}
	}
	a {
		color: $blue;
		font-weight: 400;
	}
}
.radio-label {
	padding-left: 2rem;
	position: relative;

	&:disabled,
	&[disabled],
	&.disabled {
		pointer-events: none;
		cursor: default;
		opacity: 0.5;
	}
	.check-icon{
		border: solid 1px #0171a6;
		border-radius: 50%;
		position: absolute;
		display: block;
		height: 1.3rem;
		width: 1.3rem;
		top: 4px;
		left: 0;
		&:before{
			transition: opacity 0.3s ease;
			background-color:  #0171a6;
			border-radius: 50%;
			position: absolute;
			display: block;
			margin: auto;
			content: '';
			height: 5px;
			width: 5px;
			opacity: 0;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
	}
	.check-value {
		transition: color 0.3s ease;
		color: #979797;
	}
	&.label_grey {
		.check-value {
			color: #979797;
		}
	}
	input {
		&:checked {
			& ~ .check-icon {
				&:before {
					opacity: 1;
				}
			}
		}
		&:disabled {
			& ~ .check-icon {
				pointer-events: none;
				cursor: default;
				opacity: 0.5;
			}
			& ~ .check-value {
				pointer-events: none;
				cursor: default;
				opacity: 0.5;
			}
		}
	}
}

.search-field {
	position: relative;
	display: flex;
	align-items: center;
	.form-group {
		flex-grow: 1;
		margin-bottom: 0;
	}
	&__btn {
		font-size: 1.6rem;
		transition: color $transition-duration $transition-type;
		color: $black;
		height: 3rem;
		width: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		margin-left: 1rem;
		.icon {
			display: block;
		}
	}
}

.autocomplete-list {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: auto;
	max-height: 205px;
	overflow: hidden;
	overflow-y: auto;
	z-index: 10;
	box-shadow: 0 4px 4px rgba(136, 136, 136, 0.25);
	opacity: 0;
	visibility: hidden;
	transform: translateY(4px);
	transition: transform .3s ease, visibility .3s ease, opacity .3s ease;
	.search-field.is-open & {
		opacity: 1;
		visibility: visible;
		transform: none;
	}
	&__item {
		line-height: 1.3;
		transition: background-color .3s ease;
		cursor: pointer;
		width: 100%;
		& + .autocomplete-list__item {
			border-top: 1px solid #ECECEC;
		}
		&__text {
			padding: 1.1rem 1rem;
			background-color: #FBFBFB;
			width: 100%;
			font-weight: 500;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			@include media-breakpoint-down(md) {
				flex-wrap: wrap;
			}
			&:hover {
				@include media-breakpoint-up(md) {
					background-color: darken(#FBFBFB, 3%);
				}
			}
		}
		&__match {
			padding: 1.3rem 1rem;
			width: 100%;
			background-color: #FBFBFB;
			font-weight: 600;
			font-size: 1.5rem;
		}
		&__code {
			font-size: 1.4rem;
			margin-right: 10px;
			@include media-breakpoint-down(md) {
				font-size: 1.3rem;
			}
		}
		&__exchange {
			margin-right: 5px;
			font-size: 1.4rem;
			@include media-breakpoint-down(md) {
				font-size: 1.3rem;
			}
		}
		&__name {
			margin-left: auto;
			font-size: 1.2rem;
			line-height: 1.4em;
			text-align: right;
			max-width: 200px;
			@include media-breakpoint-down(md) {
				width: 100%;
				margin-left: 0;
				margin-top: 5px;
				text-align: left;
			}
		}
	}
}
