.price {
  &-tabs {
    margin: 1rem 0 2rem;
    display: flex;
    align-items: center;
    // justify-content: center;
    justify-content: space-between;
    @include media-breakpoint-down(xs) {

    }

    &__li {
      // flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: all $transition-duration $transition-type;

    }
    &__link {
      font-size: 1.4rem;
      line-height: 1.1em;
      padding: 4px;
      transition: all $transition-duration $transition-type;
      border-radius: 2px;
      &[disabled] {
        cursor: default;
      }
      &.active {
        background-color: $grey-dark;
        color: white;
      }
      &:not([disabled]):not(.active):hover {
        @include media-breakpoint-up(md) {
          color: $green;
        }
      }
      @include media-breakpoint-down(xs) {
        font-size: 1.2rem;
        line-height: 1em;
      }

    }
  }
  &-graph {

    flex-grow: 1;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    @include media-breakpoint-down(xs) {
      margin-bottom: 3rem;
    }
    .chart-container{
      width: 100%;
      height: 32rem;
      position: relative;
      @include media-breakpoint-down(xs) {
        height: 18rem;
      }

      &:before {
        width: 3rem;
        height: 5.3rem;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: " ";
        background-image: url('../assets/images/useful/svg/logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include media-breakpoint-down(xs) {
          width: 2rem;
          height: 3.5rem;
        }
      }
    }


  }
  &-legend {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @include media-breakpoint-down(xs) {
      //margin-bottom: 1rem;
    }
    &__line {
      color: $grey-dark;
      font-weight: 500;
      font-size: 1.2rem;
      padding: 4px 6px;
      line-height: 1em;
      border: 1px solid transparent;
      border-radius: 3rem;
      @include media-breakpoint-down(xs) {
        font-size: 1rem;
      }
      &:not(:last-child) {
        margin-right: 2rem;
        @include media-breakpoint-down(xs) {
          margin-right: 1rem;
        }
      }
      &--blue {
        border-color: $blue;
        .price-legend__percentage {
          // color: $blue;
          color: $green;
          position: relative;
          padding-right: 8px;
        }
      }
      &--green {
        border-color: $green;
        .price-legend__percentage {
          color: $green;
          position: relative;
          padding-right: 8px;
        }
      }
    }
    &__percentage {
      font-size: 1.2rem;
      &__icon {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        right: 0;
        .icon-arrow-up {
          font-size: 11px;
        }
      }
      &.down-side {
        color: #B94552;
        .price-legend__percentage__icon {
          transform: translateY(-50%) rotate(180deg);
          color: #B94552;
        }
      }
    }
    &__code {
      font-size: 1.2rem;
      margin: 0 8px;
    }
    &__close {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

.earnings {
  &-legend {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @include media-breakpoint-down(xs) {
      //margin-bottom: 1rem;
    }
    &__line {
      color: $grey-dark;
      font-weight: 500;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(xs) {
        font-size: 1rem;
      }
      &:not(:last-child) {
        margin-right: 2rem;
        @include media-breakpoint-down(xs) {
          margin-right: 1rem;
        }
      }
      &--blue {
        &:before {
          background-color: $blue;
          content: " ";
          width: 1rem;
          height: 1rem;
          flex-shrink: 0;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
      &--halfcolor {
        padding-left: 1.5rem;
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background-color: $green;
          content: " ";
          width: 5px;
          height: 1rem;
          border-radius: 5px 0 0 5px;
        }
        &:after {
          position: absolute;
          top: 0;
          left: 5px;
          bottom: 0;
          background-color: $red;
          content: " ";
          width: 5px;
          height: 1rem;
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }
  &-graph {
    flex-grow: 1;
    position: relative;
    width: 100%;
    .chart-container{
      width: 100%;
      height: 11rem;
      position: relative;
      canvas {

      }
      @include media-breakpoint-down(xs) {

      }
    }
  }
}

.doughnut-chart {
  width: 13.8rem;
  height: 13.8rem;
  margin-right: 2rem;
  .chart-container {
    width: 100%;
    height: 100%;
  }
}

.bars-horizontal {
  max-width: 48rem;
  .chart-container{
    width: 100%;
    height: 10.2rem;
    position: relative;
    &--sm {
      height: 5.2rem;
    }
  }
}
.bars-vertical {
  margin: 0 auto;
  @include media-breakpoint-down(md) {
    margin: 0 auto;
  }
  &--etf-risk {
    max-width: 14rem;
  }
  .chart-container{
    width: 100%;
    height: 30.5rem;
    position: relative;
  }
}
