.footer{
  background-color: $white-almost;
  padding: 4rem 0 2rem;

  &__logo {
      font-size: 9rem;
      flex-shrink: 0;
      margin-right: 1rem;
      display: flex;
      @include media-breakpoint-down(md) {
          font-size: 6.4rem;
      }
  }

  &__top {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(xs) {
          align-items: flex-start;
      }
  }

  &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-left: 4.5rem;
      flex-grow: 1;

      @include media-breakpoint-down(md) {
          margin-left: 2rem;
      }


      @include media-breakpoint-down(sm) {
          flex-direction: column;
          justify-content: flex-start;
      }


      &-txt {
          max-width: 25.5rem;
          line-height: 1.4em;
      }

      &-list {
          display: flex;
          justify-content: flex-end;
          flex-grow: 1;
          @include media-breakpoint-down(md) {
              flex-wrap: wrap;
              justify-content: space-between;
              margin-left: 4rem;
          }
          @include media-breakpoint-down(sm) {
              margin-left: 0;
              margin-top: 2rem;
          }
      }
      &-li {
          @include media-breakpoint-down(md) {
              width: calc(50% - 1rem);
          }
          @include media-breakpoint-down(sm) {
              width: auto;
          }
          @include media-breakpoint-down(xs) {
              width: calc(50% - 1rem);
          }
          &:nth-child(n + 2) {
              margin-left: 6rem;
              @include media-breakpoint-down(lg) {
                  margin-left: 4rem;
              }
              @include media-breakpoint-down(md) {
                  margin: 0 0 2rem 0;
              }
              @include media-breakpoint-down(sm) {
                  margin: 0 0 0 4rem;
              }
              @include media-breakpoint-down(xs) {
                  margin: 0 0 2rem 0;
              }
          }
      }
      &-link {
          font-weight: 500;
      }
  }

  &__bottom {
      text-align: center;
      margin-top: 4rem;
      @include media-breakpoint-down(xs) {
          margin-top: 2rem;
      }
  }
}
