.header {
  &.menu-open {
    @include media-breakpoint-down(md) {
      // position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
    }
  }
  @include media-breakpoint-down(md) {
    background: $white-almost;
    border-bottom: 1px solid $grey-light;
  }
  .premium-container {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
      position: relative;
      transform: none;
    }
  }
  &__inner {
    width: 100%;
    height: 12.5rem;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
      height: 8.5rem;
      padding: 1rem 0;
    }
  }
  &__logo {
    font-size: 9rem;
    flex-shrink: 0;
    margin-right: 1rem;
    display: flex;
    @include media-breakpoint-down(md) {
      font-size: 6.4rem;
    }
  }
  &__line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;

    &-content {
      margin-left: 6rem;

      display: flex;
      align-items: center;

      @include media-breakpoint-down(lg) {
        margin-left: 4rem;
      }
      @include media-breakpoint-down(md) {
        margin: 0;

        position: fixed;
        // top: 8.5rem;
        top: 14rem;
        right: 0;
        bottom: 0;
        transition: all .5s $transition-type;
        width: 38rem;
        transform: translateX(100%);
        visibility: hidden;
        z-index: 100;
        background: white;

        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        padding: 3rem 1.5rem;

        overflow-y: auto;
        @include media-breakpoint-down(xs) {
          width: 100%;
        }

        .menu-open & {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
        }
      }

      .search-form {
        display: block;
        width: 100%;
      }
      .search-field {
        width: 38rem;
        flex-shrink: 0;
        @include media-breakpoint-down(lg) {
          width: 35rem;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }

        .form-control {
          @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  &__linkIcon {
    width: 3.6rem;
    height: 3.6rem;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    color: $black;
    transition: color $transition-duration $transition-type;
    @include media-breakpoint-down(lg) {
      width: 3.2rem;
      height: 3.2rem;
      font-size: 2.8rem;
    }
    @include media-breakpoint-down(md) {
      width: 3.6rem;
      height: 3.6rem;
      font-size: 3.2rem;
    }
    &:nth-child(n + 2) {
      @include media-breakpoint-down(md) {
        margin-left: 3rem;
      }
    }
    &:hover {
      color: $green;
    }
  }
  &__burger {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    .icon-close {
      display: none;
      font-size: 2.8rem;
    }
    .menu-open & {
      .icon-close {
        display: block;
      }
      .icon-menu {
        display: none;
      }
    }
  }
  &__linkTxt {
    display: inline-block;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    span {
      font-size: 1.8rem;
      font-weight: 500;
      color: $black;
      transition: color $transition-duration $transition-type;
      @include media-breakpoint-down(lg) {
        font-size: 1.6rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.8rem;
        text-transform: uppercase;
      }
    }
    &:hover {
      span {
        color: $green;
      }
    }
  }
  &__nav {
    margin-left: 6rem;
    @include media-breakpoint-down(lg) {
      margin-left: 4rem;
    }
    @include media-breakpoint-down(md) {
      margin: 3rem 0;
      width: 100%;
    }

    &-list {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }
      &-li {
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        &:nth-child(n + 2) {
          margin-left: 6rem;
          @include media-breakpoint-down(lg) {
            margin-left: 4rem;
          }
          @include media-breakpoint-down(md) {
            margin: 0;
          }
        }
        &:not(:last-child) {

          .header__linkTxt {
            @include media-breakpoint-down(md) {
              margin-bottom: 1.2rem;
              padding-bottom: 1.2rem;
              border-bottom: 1px solid $grey-light;
            }
          }
        }
      }
    }
  }

  &-fixed {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(136, 136, 136, .25);
    z-index: 150;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    transform: translateY(calc(-100% - 2rem));
    visibility: hidden;
    transition: all $transition-duration $transition-type;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &.visible {
      transform: translateY(0);
      visibility: visible;
    }

    &__inner {
      height: 10.5rem;
      padding: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-left {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }
      &-right {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      &-form {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
    &__logo {
      font-size: 9rem;
      flex-shrink: 0;
      margin-right: 4rem;
      display: flex;
      @include media-breakpoint-down(md) {
        margin-right: 1rem;
      }
    }
    .section-info__top {
      margin-bottom: 0;
      width: auto;
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;
    }
    .section-info__top-icon {
      width: 5rem;
      height: 5rem;
      margin-right: 1rem;
      .icon {
        font-size: 4.2rem;
      }
    }
    .h2 {
      margin-bottom: 0;
      & + .section-info__top-component {
        margin-top: 4px;
      }
    }
    .search-field {
      flex-grow: 1;
      max-width: 38rem;
    }
  }

  //@include media-breakpoint-down(lg) {
  //  background: red;
  //}
  //@include media-breakpoint-down(md) {
  //  background: green;
  //}
  //@include media-breakpoint-down(sm) {
  //  background: red;
  //}
  //@include media-breakpoint-down(xs) {
  //  background: green;
  //}
}



.close-menu-field {
  display: none;
  position: fixed;
  // top: 8.5rem;
  top: 14rem;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(#000000, .5);
  opacity: 0;
  visibility: hidden;
  transition: all .5s $transition-type;

  @include media-breakpoint-down(md) {
    display: block;
  }
  .menu-open & {
    opacity: 1;
    visibility: visible;
  }
}
