.modal {
    &-wrapper {
        position: relative;
        &--lg {
            width: 100vw;
            max-width: 70vw;
        }
        &--sm {
            width: 100vw;
            max-width: 56rem;
        }
    }
    &-close {
        position: absolute;
        top: -2.4rem;
        right: -2.4rem;
        width: 4rem;
        height: 4rem;
        color: rgba(0, 0, 0, 0.5);
        transition: color .3s ease;
        cursor: pointer;
        &:hover {
            color: rgba(0, 0, 0, 1);
        }
        .icon-close {
            font-size: 1.6rem;
        }
    }
    &-title {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        text-transform: capitalize;
        margin-bottom: 3rem;
    }
    &-list {
        &__item {
            margin-bottom: 2rem;
        }
        &__title {
            display: block;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 5px;
            line-height: 1em;
        }
        &__text {
            margin-bottom: 0;
        }
    }
    &-success {
        padding: 6rem 0 5rem 0;
        text-align: center;
        p {
            color: $green;
            font-size: 1.8rem;
        }
    }
}