.sk-item {
    height: 2rem;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background-color: #f3f3f3;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: -150px;
        top: 0;
        height: 100%;
        width: 150px;
        background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
        animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
    }
}

// allocation
.allocation-sk {
    width: 100%;
    flex-grow: 1;
    background: #FBFBFB;
    border: 1px solid #ECECEC;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
    &__side {
        width: 50%;
    }
    &__title {
        width: 22rem;
        margin-bottom: 1rem;
    }
    &__subtitle {
        width: 10rem;
        height: 1.5rem;
        margin-bottom: 2rem;
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &__line {
            margin: 1rem 0;
            width: 100%;
            height: 1.3rem;
            &:nth-child(odd) {
                width: 80%;
            }
        }
        &__items {
            width: 100%;
            max-width: 13rem;
        }
    }
    &__circle {
        flex-shrink: 0;
        width: 13.8rem;
        height: 13.8rem;
        border-radius: 50%;
        margin-right: 2rem;
    }
}

// benchmark
.benchmark-sk {
    width: 100%;
    flex-grow: 1;
    background: #FBFBFB;
    border: 1px solid #ECECEC;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 3rem;
    &__block {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
    &__title {
        width: 100%;
        max-width: 200px;
        height: 1.6rem;
        margin-bottom: 1rem;
    }
    &__item {
        width: 100%;
        max-width: 150px;
        height: 1.3rem;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

// bars
.bars-sk {
    width: 100%;
    flex-grow: 1;
    background: #FBFBFB;
    border: 1px solid #ECECEC;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
    &__side {
        width: 17rem;
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
        &:not(:last-child) {
            margin-right: 6rem;
            @include media-breakpoint-down(md) {
                margin-right: 5rem;
            }
            @include media-breakpoint-down(sm) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
    }
    &__title {
        height: 2rem;
        margin-bottom: 6px;
    }
    &__subtitle {
        width: 3.5rem;
        height: 1.4rem;
        margin-bottom: 3rem;
    }
    &__line {
        height: 1.3rem;
        margin-bottom: 7px;
        width: 100%;
    }
}

// horizontal bar
.long-tern-sk {
    width: 100%;
    flex-grow: 1;
    background: #FBFBFB;
    border: 1px solid #ECECEC;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 3rem;
    flex-direction: column;
    &__title {
        width: 100%;
        max-width: 25.5rem;
        height: 2rem;
        margin-bottom: 6px;
    }
    &__subtitle {
        width: 100%;
        max-width: 9.2rem;
        height: 1.4rem;
        margin-bottom: 2rem;
    }
    &__line-first {
        height: 3rem;
        width: 90%;
    }
    &__line-second {
        width: 65%;
        height: 3rem;
        margin-top: 1rem;
    }
}

// horizontal bar
.vbar-sk {
    width: 100%;
    flex-grow: 1;
    background: #FBFBFB;
    border: 1px solid #ECECEC;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
    flex-direction: column;
    &__title {
        width: 100%;
        max-width: 25.5rem;
        height: 2rem;
        margin-bottom: 6px;
    }
    &__subtitle {
        width: 100%;
        max-width: 9.2rem;
        height: 1.4rem;
        margin-bottom: 2rem;
    }
    &__lines {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 25rem;
        margin-bottom: 2rem;
    }
    &__line-first {
        height: 90%;
        width: 2.5rem;
        margin: 0 7px;
    }
    &__line-second {
        height: 65%;
        width: 2.5rem;
        margin: 0 7px;
    }
    &__info {
        display: flex;
        justify-content: center;
        width: 100%;
        &__side {
            width: 20rem;
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            height: 1rem;
            width: 100%;
            margin-bottom: 1rem;
        }
        &__subtitle {
            height: 7px;
            width: 80%;
        }
    }
}

// chart
.chart-sk {
    width: 100%;
    flex-grow: 1;
    background: #FBFBFB;
    border: 1px solid #ECECEC;
    padding: 2rem;
    display: block;
    margin-bottom: 3rem;
    &__title {
        width: 100%;
        max-width: 25.5rem;
        height: 2rem;
        margin-bottom: 6px;
    }
    &__subtitle {
        width: 100%;
        max-width: 9.2rem;
        height: 1.4rem;
        margin-bottom: 2rem;
    }
    &__triggers {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__item {
            width: 2rem;
            height: 2rem;
        }
    }
    &__lines {
        height: 25rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &__item {
            width: 100%;
            max-width: 1.5rem;
            height: 85%;
            &:nth-child(odd) {
                height: 55%;
            }
        }
    }
}

// analyst
.analyst-sk {
    width: 100%;
    flex-grow: 1;
    background: #FBFBFB;
    border: 1px solid #ECECEC;
    padding: 2rem;
    margin-bottom: 3rem;
    &__title {
        width: 100%;
        max-width: 25.5rem;
        height: 2rem;
        margin-bottom: 6px;
    }
    &__subtitle {
        width: 100%;
        max-width: 9.2rem;
        height: 1.4rem;
        margin-bottom: 2rem;
    }
    &__side {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__line {
        height: 2.5rem;
        width: 100%;
        max-width: 40rem;
        margin-right: 5rem;
    }
    &__box {
        width: 12rem;
        height: 10rem;
        flex-shrink: 0;
    }
}

@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}