.section-subscription {
    &-landing {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 7.5rem 0 3.5rem 0;
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }
        @include media-breakpoint-down(sm) {
            padding: 3rem 0;
        }
    }
    &__text {
        width: 100%;
        max-width: 44.5rem;
        margin-right: 12.5rem;
        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 3rem;
        }
        p {
            margin-bottom: 0;
            font-size: 1.8rem;
            line-height: 1.6em;
            color: $black;
            @include media-breakpoint-down(md) {
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
            & + p {
                margin-top: 3rem;
                @include media-breakpoint-down(md) {
                    margin-top: 0;
                }
            }
        }
        b {
            font-weight: 800;
        }
    }
    &__form {
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        strong {
            display: block;
            font-weight: 800;
            font-size: 2.4rem;
            line-height: 1.2em;
            color: $black;
            margin-bottom: 4rem;
            @include media-breakpoint-down(md) {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
        .subscribe-form {
            max-width: 25.5rem;
        }
        .button {
            max-width: 21rem;
        }
    }
}