
  <div class="section-top">
    <h2 class="h2">Valuation</h2><span class="section-top__sub">Trailing 12-months vs. Forecasted 12-months</span>
  </div>
  <div class="bars-vertical">
    <div class="chart-container js-bars-vertical">
      <canvas #valuationChart></canvas>
    </div>
  </div>
