<div class="section-top">
  <h2 class="h2">Dividend (%)</h2><span class="section-top__sub">Yield per share</span>
</div>
<div class="bars-horizontal">
  <div class="chart-container">
      <canvas #dividendChart></canvas>
  </div>
</div>
