<div class="section-top">
    <h2 class="h2">Yield</h2>
    <span class="section-top__sub">Dividend or interest yield per share (%)</span>
</div>
<div class="bars-horizontal">
    <div class="chart-container">
        <canvas #yieldChart></canvas>
    </div>
</div>