<div class="section-top">
    <h2 class="h2">Risk-Adjusted Returns (%)</h2>
    <span class="section-top__sub">Sharpe ratio 3 years </span>
</div>
<div class="bars-horizontal">
    <div class="chart-container chart-container--sm js-bars-horizontal">
        <canvas #riskAdjustedChart></canvas>
    </div>
</div>