@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('src/assets/fonts/' + $fontfile + '.eot');
		src: url('src/assets/fonts/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
		url('src/assets/fonts/' + $fontfile + '.woff') format('woff'),
		url('src/assets/fonts/' + $fontfile + '.ttf') format('truetype'),
		url('src/assets/fonts/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};



@include font-face('Roboto', 'roboto/Roboto-Black', 800, normal);
@include font-face('Roboto', 'roboto/Roboto-BlackItalic', 800, italic);
@include font-face('Roboto', 'roboto/Roboto-Bold', 700, normal);
@include font-face('Roboto', 'roboto/Roboto-BoldItalic', 700, italic);
@include font-face('Roboto', 'roboto/Roboto-Light', 300, normal);
@include font-face('Roboto', 'roboto/Roboto-LightItalic', 300, italic);
@include font-face('Roboto', 'roboto/Roboto-Regular', 400, normal);


