.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main {
	flex-grow: 1;
	position: relative;
}


.container {
	.container {
		padding: 0;
	}
}


.col-xx {
	@include media-breakpoint-down(xs) {
		max-width: 100%;
		flex: 0 0 100%;
	}
}

.section-title {
	text-align: center;
	margin-bottom: 5rem;
	@include media-breakpoint-down(sm) {
		margin-bottom: 3rem;
	}
	&__secondary {
		display: block;
		width: 100%;
		font-size: 1.8rem;
		line-height: 1.2em;
		color: $grey-dark;
		@include media-breakpoint-down(md) {
			font-size: 1.6rem;
		}
		@include media-breakpoint-down(sm) {
			font-size: 1.4rem;
		}
	}
	h2 {
		display: block;
		width: 100%;
		font-weight: 800;
		font-size: 3.6rem;
		line-height: 1.2em;
		color: $black;
		margin-bottom: 2rem;
		@include media-breakpoint-down(lg) {
			font-size: 3.2rem;
		}
		@include media-breakpoint-down(md) {
			font-size: 2.8rem;
			margin-bottom: 1rem;
		}
		@include media-breakpoint-down(sm) {
			font-size: 2.4rem;
		}
	}
}

.button {
	padding: 1.2rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all $transition-duration ease;
	position: relative;
	width: 100%;

	& > span {
		font-weight: 900;
		font-size: 1.2rem;
		line-height: 1.4em;
		transition: all $transition-duration $transition-type;
		text-transform: uppercase;
		text-align: left;
	}

	& > .icon {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1em;
		transition: all $transition-duration $transition-type;
		text-align: center;
		color: white;
		margin-right: 1.6rem;
		flex-shrink: 0;
	}

	&--blue {
		background-color: $blue;
		span {
			color: white;
		}
		&:hover {
			@include media-breakpoint-up(lg) {
				background-color: $blue-dark;
			}
		}
	}
	
	&--green {
		background-color: $green;
		span {
			color: white;
		}
		&:hover {
			@include media-breakpoint-up(lg) {
				background-color: darken($green, 10%);
			}
		}
	}

	&--blue-dark {
		background-color: $blue-dark;
		span {
			color: white;
		}
		&:hover {
			background-color: $blue-dark;
		}
	}
	
	&--silver {
		background-color: #C4C4C4;
		span {
			color: $black;
		}
		&:hover {
			background-color: lighten(#C4C4C4, 5%);
		}
		& > .icon {
			color: $black;
			font-size: 2rem;
			margin-right: 1rem;
		}
	}

	&[disabled] {
		background-color: $grey-light !important;
		pointer-events: none !important;
		box-shadow: none !important;
		span {
			color: rgba(#525B6D, .6) !important;
		}
	}

}
.button-line {
	&:hover {
		color: $green;
	}
}


.ui {
	section {
		padding: 10rem 0;
		&:nth-child(odd) {
			background-color: $grey-light;
		}
		&:nth-child(even) {
			background-color: white;
		}
	}
	&__ttl {
		font-size: 2.6rem;
		margin-bottom: 5.5rem;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
	&-icons {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 1rem .5rem;
			width: 13.4%;
			height: 10rem;
			@include media-breakpoint-down(sm) {
				width: 25%;
			}
			@include media-breakpoint-down(xs) {
				width: 45%;
			}
			span {
				color: $green;
				font-size: 1.4rem;
				font-weight: 600;
				display: block;
				width: 100%;
				text-align: center;
			}
		}
		&__icon {
			font-size: 6rem;
			width: 6rem;
			height: 6rem;
			position: relative;
			margin-bottom: 1rem;
			color: $black;

			.icon {
				display: block;
				position: absolute;
				margin: auto;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
		}
	}
	&__inner {
		.button {
			margin: 1.5rem 0;
		}
		.form-group, .search-field {
			margin-bottom: 3rem;
			width: 100%;
		}
	}
}



.h1 {
	font-size: 2.4rem;
	line-height: 1.2em;
	font-weight: 500;

	margin-bottom: 1rem;
	@include media-breakpoint-down(xs) {
		font-size: 1.8rem;
		line-height: 1em;
	}
}

.h2 {
	font-size: 1.8rem;
	line-height: 1.4em;
	font-weight: 500;

	margin-bottom: 1rem;
	@include media-breakpoint-down(sm) {

	}
}


.decor {
	&--fs13 {
		font-size: 1.3rem !important;
		strong {
			font-size: 1.3rem !important;
		}
	}
	&--fs15 {
		font-size: 1.5rem !important;
		strong {
			font-size: 1.5rem !important;
		}
	}
	&--fs16 {
		font-size: 1.6rem !important;
		strong {
			font-size: 1.6rem !important;
		}
	}
	&--fs18 {
		font-size: 1.8rem !important;
		line-height: 1.4em !important;
		@include media-breakpoint-down(sm) {
			font-size: 1.4rem !important;
		}
		strong {
			font-size: 1.8rem !important;
			line-height: 1.4em !important;
			@include media-breakpoint-down(sm) {
				font-size: 1.4rem !important;
			}
		}
	}

	&--fw500 {
		font-weight: 500 !important;
	}
	&--fw600 {
		font-weight: 600 !important;
	}

	&--color {
		&-grey-dark  {
			color: $grey-dark !important;
		}
		&-grey-light  {
			color: $grey-light !important;
		}
		&-grey  {
			color: $grey !important;
		}
		&-black  {
			color: $black !important;
		}
		&-green {
			color: $green !important;
		}
		&-green-light {
			color: $green-light !important;
		}
		&-blue {
			color: $blue !important;
		}
		&-blue-light {
			color: $blue-light !important;
		}
		&-red {
			color: $red !important;
		}
	}

	&--hide {
		display: none !important;
		.js-collapse--opened & {
			display: block !important;
		}
	}
	&--show {
		.js-collapse--opened & {
			display: none !important;
		}
	}
}


.section, .aside {
	background: #FBFBFB;
	border: 1px solid #ECECEC;
	padding: 2rem;
	margin-bottom: 3rem;
	width: 100%;
	flex-grow: 1;
	display: block;
	@include media-breakpoint-down(xs) {
		margin-bottom: 1.6rem;
		padding: 2rem 1rem;
	}
}

.section {
  &--analyst {
    .section-top {
      &:not(:last-child) {
        margin-bottom: 8rem;
        @include media-breakpoint-down(xs) {
          margin-bottom: 10rem;
        }
      }
    }
  }
  &--price {
	  position: relative;
  }
}

[class*=col-] {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.article {
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.tooltip {
	&-container {
		position: relative;

		&:hover {

			.tooltip-dropdown {
				visibility: visible;
				opacity: 1;
				transform: translate(-50%, 0);
				@include media-breakpoint-down(sm) {
					transform: translate(0, 0);
				}
			}
		}
		&--leftDirection {
			.tooltip-dropdown {
				@include media-breakpoint-down(sm) {
					right: -1rem;
					left: auto;
				}
				& > .icon-tooltip {
					@include media-breakpoint-down(sm) {
						right: 0;
						left: auto;
					}
				}
			}
		}
	}
	&-dropdown {
		visibility: hidden;
		opacity: 0;
		transform: translate(-50%, 1rem);
		pointer-events: none;

		position: absolute;
		top: calc(100% + 1rem);
		left: 50%;
		transition: all $transition-duration ease;

		background-color: $grey-light;
		border-radius: 6px;
		text-align: left;
		padding: 1rem;
		z-index: 500;

		width: 19rem;
		display: block;
		@include media-breakpoint-down(sm) {
			left: -1rem;
			right: auto;
			transform: translate(0, 1rem);
		}

		&__txt {
			font-size: 1rem !important;
			font-weight: 500;
			line-height: 1.3em;
			display: block;
		}
		& > .icon-tooltip {
			display: block;
			color: $grey-light !important;
			font-size: 1.4rem !important;
			position: absolute;
			top: -0.7rem;
			left: 0;
			right: 0;
			margin: 0 auto;
			@include media-breakpoint-down(sm) {
				left: 0;
				right: auto;
			}
		}
	}
}


.js-collapse-content {
  // display: none;
  // max-height: 0;
  overflow: hidden;
  // transition: all .4s ease;
  margin-bottom: 1rem;
}


.hidden {
  display: none !important;
}
