.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    &-crown {
        width: 1.2em;
    }
    &-apple {
        width: .84848484848em;
    }
    &-arrow-up {
        width: .8em;
    }
    &-arrow-down {
        width: .8em;
    }
    &-check {
        width: 1.42857142857em;
    }
    &-logo {
        width: .57777777777em;
    }
    &-logo-2 {
        width: .56603773584em;
    }
    &-menu {
        width: 1.66666666667em;
    }
    &-error {
        width: 1.12095671982em;
    }
    &-tooltip {
        width: 2.84615384615em;
    }
    &-analysis {
        width: 1.025390625em;
    }
    &-virtual-marketing {
        width: 1.224609375em;
    }
  }