<div class="section-top">
    <h2 class="h2">Long-Term Earnings Growth (%)</h2>
    <span class="section-top__sub">Projected 5 years</span>
</div>
<div class="bars-horizontal">
    <div class="chart-container js-bars-horizontal">
        <canvas #longTermChart></canvas>
    </div>
</div>