<div class="bar-info-wrapper">
    <div class="bar-info-side" *ngIf="barsData.holdings && barsData.holdings.length > 0; else holdingsPlug">
        <div class="section-top">
            <h2 class="h2">Holdings</h2>
            <span class="section-top__sub">Top {{barsData.holdings.length}}</span>
        </div>
        <div class="bar-info-inner">
            <ng-container *ngFor="let holding of barsData.holdings">
                <span class="bar-info-line__title">{{holding.code}}</span>
                <div class="bar-info-line__progress">
                    <div class="bar-info-line__progress__inner" [style.width]="(holding.assets_percent).toFixed(0) + '%'"></div>
                </div>
                <span class="bar-info-line__percentage">{{(holding.assets_percent).toFixed(2)}}%</span>
            </ng-container>
        </div>
    </div>
    <ng-template #holdingsPlug>
        <div class="bar-info-side" >
            <div class="section-top">
                <h2 class="h2">Holdings</h2>
            </div>
            <div class="bar-info-inner">
                <span class="bar-info-empty">N/A</span>
            </div>
        </div>
    </ng-template>
    <div class="bar-info-side" *ngIf="barsData.sector && barsData.sector.length > 0; else sectorPlug">
        <div class="section-top">
            <h2 class="h2">Sector allocation</h2>
            <span class="section-top__sub">Top {{barsData.sector.length}}</span>
        </div>
        <div class="bar-info-inner">
            <ng-container *ngFor="let sector of barsData.sector">
                <span class="bar-info-line__title">{{sector.type}}</span>
                <div class="bar-info-line__progress">
                    <div class="bar-info-line__progress__inner" [style.width]="(sector.equity_percent).toFixed(0) + '%'"></div>
                </div>
                <span class="bar-info-line__percentage">{{(sector.equity_percent).toFixed(2)}}%</span>
            </ng-container>
        </div>
    </div>
    <ng-template #sectorPlug>
        <div class="bar-info-side" >
            <div class="section-top">
                <h2 class="h2">Sector allocation</h2>
            </div>
            <div class="bar-info-inner">
                <span class="bar-info-empty">N/A</span>
            </div>
        </div>
    </ng-template>
    <div class="bar-info-side" *ngIf="barsData.capitalisation.big; else capitalisationsPlug">
        <div class="section-top">
            <h2 class="h2">Market capitalization</h2>
            <span class="section-top__sub">Top {{barsData.capitalisation.length}}</span>
        </div>
        <div class="bar-info-inner">
            <span class="bar-info-line__title">Mega</span>
            <div class="bar-info-line__progress">
                <div class="bar-info-line__progress__inner" [style.width]="(+barsData.capitalisation.mega).toFixed(0) + '%'"></div>
            </div>
            <span class="bar-info-line__percentage">{{(+barsData.capitalisation.mega).toFixed(2)}}%</span>
            <span class="bar-info-line__title">Big</span>
            <div class="bar-info-line__progress">
                <div class="bar-info-line__progress__inner" [style.width]="(+barsData.capitalisation.big).toFixed(0) + '%'"></div>
            </div>
            <span class="bar-info-line__percentage">{{(+barsData.capitalisation.big).toFixed(2)}}%</span>
            <span class="bar-info-line__title">Medium</span>
            <div class="bar-info-line__progress">
                <div class="bar-info-line__progress__inner" [style.width]="(+barsData.capitalisation.medium).toFixed(0) + '%'"></div>
            </div>
            <span class="bar-info-line__percentage">{{(+barsData.capitalisation.medium).toFixed(2)}}%</span>
            <span class="bar-info-line__title">Small</span>
            <div class="bar-info-line__progress">
                <div class="bar-info-line__progress__inner" [style.width]="(+barsData.capitalisation.small).toFixed(0) + '%'"></div>
            </div>
            <span class="bar-info-line__percentage">{{(+barsData.capitalisation.small).toFixed(2)}}%</span>
            <span class="bar-info-line__title">Micro</span>
            <div class="bar-info-line__progress">
                <div class="bar-info-line__progress__inner" [style.width]="(+barsData.capitalisation.micro).toFixed(0) + '%'"></div>
            </div>
            <span class="bar-info-line__percentage">{{(+barsData.capitalisation.micro).toFixed(2)}}%</span>
        </div>
    </div>
    <ng-template #capitalisationsPlug>
        <div class="bar-info-side" >
            <div class="section-top">
                <h2 class="h2">Market capitalization</h2>
            </div>
            <div class="bar-info-inner">
                <span class="bar-info-empty">N/A</span>
            </div>
        </div>
    </ng-template>
</div>