<div class="allocation-wrapper">
    <div class="allocation-side">
        <div class="section-top">
            <h2 class="h2">Asset allocation</h2>
            <span class="section-top__sub">Top 5</span>
        </div>
        <div class="allocation-inner"  *ngIf="doughnutData.doughnutData.asset.name.length > 0; else assetDoughnutPlug">
            <app-allocation-doughnut *ngIf="doughnutData" [chartData]="doughnutData.doughnutData.asset"></app-allocation-doughnut>
            <div class="allocation-labels">
                <span class="allocation-labels__item" *ngFor="let item of doughnutData.doughnutData.asset.name; index as i">{{doughnutData.doughnutData.asset.data[i]}}% {{item}}</span>
            </div>
        </div>
        <ng-template #assetDoughnutPlug>
            <div class="allocation-inner">
                <div class="allocation-inner__plug">
                    <span>N/A</span>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="allocation-side">
        <div class="section-top">
            <h2 class="h2">Geographic allocation</h2>
            <span class="section-top__sub">Top 5</span>
        </div>
        <div class="allocation-inner" *ngIf="doughnutData.doughnutData.world.name.length > 0; else worldDoughnutPlug">
            <app-allocation-doughnut *ngIf="doughnutData" [chartData]="doughnutData.doughnutData.world"></app-allocation-doughnut>
            <div class="allocation-labels">
                <span class="allocation-labels__item" *ngFor="let item of doughnutData.doughnutData.world.name; index as i">{{doughnutData.doughnutData.world.data[i]}}% {{item}}</span>
            </div>
        </div>
        <ng-template #worldDoughnutPlug>
            <div class="allocation-inner">
                <div class="allocation-inner__plug">
                    <span>N/A</span>
                </div>
            </div>
        </ng-template>
    </div>
</div>