<div class="price-graph js-chart-line">
  <div class="price-legend">
    <div class="price-legend__line price-legend__line--blue" *ngIf="indexArr && indexArr.length && spyIsActive">
      <span class="price-legend__percentage" [class.down-side]="indexVectorState === false">
        {{indexArr[indexArr.length - 1]}}%
        <span class="price-legend__percentage__icon">
          <svg class="icon icon-arrow-up">
            <use xlink:href="#icon-arrow-up"></use>
          </svg>
        </span>
      </span>
      <span class="price-legend__code">SPY</span>
      <span class="price-legend__close">{{indexArrClose[indexArrClose.length - 1]}}</span>
    </div>
    <div class="price-legend__line price-legend__line--green">
      <span class="price-legend__percentage" [class.down-side]="stockVectorState === false">
        {{chartArr[chartArr.length - 1]}}%
        <span class="price-legend__percentage__icon">
          <svg class="icon icon-arrow-up">
            <use xlink:href="#icon-arrow-up"></use>
          </svg>
        </span>
      </span>
      <span class="price-legend__code">{{queryParams?.code}}</span>
      <span class="price-legend__close">{{chartArrClose[chartArrClose.length - 1]}}</span>
    </div>
  </div>
  <div class="chart-container">
    <canvas #priceChart></canvas>
  </div>
</div>
