<div class="banner-wrapper">
    <div class="container">
        <div class="banner-inner">
            <div class="banner-text">
                <h1 class="banner-text__title">Creating <i class="dekor--green">wealth</i> together</h1>
                <p>Take the guesswork out of investing. <br> Quickly screen, visualize and get social validation on an <br> investment idea</p>
                <div class="banner-inner__search">
                    <app-search-form class="search-form"></app-search-form>
                </div>
            </div>
        </div>
    </div>
</div>
