<section class="benefits-wrapper">
    <div class="section-title">
        <h2>Benefits</h2>
        <span class="section-title__secondary">Be a better long-term investor: take advantage of short-term opportunities</span>
    </div>
    <div class="benefits-inner">
        <div class="benefits-col">
            <div class="benefits-item">
                <div class="benefits-item__icon">
                    <svg class="icon icon-analysis">
                        <use xlink:href="#icon-analysis"></use>
                    </svg>
                </div>
                <span class="benefits-item__text">Understand better what you invest in and the risks
                </span>
            </div>
        </div>
        <div class="benefits-col">
            <div class="benefits-item">
                <div class="benefits-item__icon">
                    <svg class="icon icon-growth">
                        <use xlink:href="#icon-growth"></use>
                    </svg>
                </div>
                <span class="benefits-item__text">Visualize quickly the potential of an investment
                </span>
            </div>
        </div>
        <div class="benefits-col">
            <div class="benefits-item">
                <div class="benefits-item__icon">
                    <svg class="icon icon-virtual-marketing">
                        <use xlink:href="#icon-virtual-marketing"></use>
                    </svg>
                </div>
                <span class="benefits-item__text">Share with friends your ideas and opinions
                </span>
            </div>
        </div>
    </div>
</section>