<app-header [companyInfo]="mainPageInfo?.general" [showStickyCompanyInfo]="true"></app-header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-16 col-md-24">
        <app-company-info class="section section--info" [companyInfo]="mainPageInfo?.general"></app-company-info>
      </div>
      <div class="col-lg-8 col-md-24">
        <app-premium-version class="premium-container-wrap" [etfStuff]="false"></app-premium-version>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-16 col-md-24 order-2 order-lg-1">
        <div *ngIf="mainPageInfo.analyst_price; else analystSkeleton" style="width: 100%">
          <app-analyst-price class="section section--analyst" [analystPrice]="mainPageInfo?.analyst_price"></app-analyst-price>
        </div>
        <ng-template #analystSkeleton>
          <div class="analyst-sk">
            <div class="sk-item analyst-sk__title"></div>
            <div class="sk-item analyst-sk__subtitle"></div>
            <div class="analyst-sk__side">
              <div class="sk-item analyst-sk__line"></div>
              <div class="sk-item analyst-sk__box"></div>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="col-lg-8 col-md-24 order-1 order-lg-2" *ngIf="mainPageInfo?.benchmark_index; else benchmarkSkeleton">
        <app-benchmark-index class="aside" [benchmarkIndex]="benchmarkData"></app-benchmark-index>
      </div>
      <ng-template #benchmarkSkeleton>
        <div class="col-lg-8 col-md-24 order-1 order-lg-2">
          <div class="benchmark-sk">
            <div class="benchmark-sk__block">
              <div class="sk-item benchmark-sk__title"></div>
              <div class="sk-item benchmark-sk__item"></div>
            </div>
            <div class="benchmark-sk__block">
              <div class="sk-item benchmark-sk__title"></div>
              <div class="sk-item benchmark-sk__item"></div>
              <div class="sk-item benchmark-sk__item"></div>
              <div class="sk-item benchmark-sk__item"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-lg-16 col-md-24">
        <div *ngIf="mainPageInfo.chart; else chartSkeleton" style="width: 100%">
          <app-main-chart class="section section--price" [benchmarkIndex]="benchmarkData" [spyIsActive]="true"></app-main-chart>
        </div>
        <ng-template #chartSkeleton>
          <div class="chart-sk">
            <div class="sk-item chart-sk__title"></div>
            <div class="sk-item chart-sk__subtitle"></div>
            <div class="chart-sk__triggers">
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
            </div>
            <div class="chart-sk__lines">
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
            </div>
          </div>
        </ng-template>

        <div *ngIf="mainPageInfo.growth; else growthSkeleton" style="width: 100%">
          <app-growth-chart class="section section--growth" [growthChart]="mainPageInfo?.growth"></app-growth-chart>
        </div>
        <ng-template #growthSkeleton>
          <div class="long-tern-sk">
            <div class="sk-item long-tern-sk__title"></div>
            <div class="sk-item long-tern-sk__subtitle"></div>
            <div class="sk-item long-tern-sk__line-first"></div>
            <div class="sk-item long-tern-sk__line-second"></div>
          </div>
        </ng-template>
        
        <div *ngIf="mainPageInfo.profitability; else profitabilitySkeleton" style="width: 100%">
          <app-profitability-chart class="section section--growth" [profitabilityChart]="mainPageInfo?.profitability"></app-profitability-chart>
        </div>
        <ng-template #profitabilitySkeleton>
          <div class="long-tern-sk">
            <div class="sk-item long-tern-sk__title"></div>
            <div class="sk-item long-tern-sk__subtitle"></div>
            <div class="sk-item long-tern-sk__line-first"></div>
            <div class="sk-item long-tern-sk__line-second"></div>
          </div>
        </ng-template>

      </div>
      <div class="col-lg-8 col-md-24">
        <div *ngIf="mainPageInfo.valuation; else valuationSkeleton" style="width: 100%">
          <app-valuation-chart class="section section--valuation" [valuationChart]="valuationData"></app-valuation-chart>
        </div>
        <ng-template #valuationSkeleton>
          <div class="vbar-sk">
            <div class="sk-item vbar-sk__title"></div>
            <div class="sk-item vbar-sk__subtitle"></div>
            <div class="vbar-sk__lines">
              <div class="sk-item vbar-sk__line-first"></div>
              <div class="sk-item vbar-sk__line-second"></div>
              <div class="sk-item vbar-sk__line-first"></div>
              <div class="sk-item vbar-sk__line-second"></div>
            </div>
            <div class="vbar-sk__info">
              <div class="vbar-sk__info__side">
                <div class="sk-item vbar-sk__info__title"></div>
                <div class="sk-item vbar-sk__info__subtitle"></div>
              </div>
              <div class="vbar-sk__info__side">
                <div class="sk-item vbar-sk__info__title"></div>
                <div class="sk-item vbar-sk__info__subtitle"></div>
              </div>
            </div>
          </div>
        </ng-template>

        <div *ngIf="mainPageInfo.dividend; else dividentSkeleton" style="width: 100%">
          <app-divident-chart class="section section--dividend" [dividendChart]="dividendData"></app-divident-chart>
        </div>
        <ng-template #dividentSkeleton>
          <div class="long-tern-sk">
            <div class="sk-item long-tern-sk__title"></div>
            <div class="sk-item long-tern-sk__subtitle"></div>
            <div class="sk-item long-tern-sk__line-first"></div>
            <div class="sk-item long-tern-sk__line-second"></div>
          </div>
        </ng-template>

        <div *ngIf="mainPageInfo.risk; else riskSkeleton" style="width: 100%">
          <app-risk-chart class="section section--valuation" [riskChart]="riskData"></app-risk-chart>
        </div>
        <ng-template #riskSkeleton>
          <div class="vbar-sk">
            <div class="sk-item vbar-sk__title"></div>
            <div class="sk-item vbar-sk__subtitle"></div>
            <div class="vbar-sk__lines">
              <div class="sk-item vbar-sk__line-first"></div>
              <div class="sk-item vbar-sk__line-second"></div>
              <div class="sk-item vbar-sk__line-first"></div>
              <div class="sk-item vbar-sk__line-second"></div>
            </div>
            <div class="vbar-sk__info">
              <div class="vbar-sk__info__side">
                <div class="sk-item vbar-sk__info__title"></div>
                <div class="sk-item vbar-sk__info__subtitle"></div>
              </div>
              <div class="vbar-sk__info__side">
                <div class="sk-item vbar-sk__info__title"></div>
                <div class="sk-item vbar-sk__info__subtitle"></div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-16 col-md-24">
        <div class="section-subscription">
          <div class="section-top">
              <h2 class="h2">Be notified when our new features are released</h2><span class="section-top__sub decor--color-black decor--fw500">Some description text</span>
          </div>
          <app-subscription-form class="subscribe"></app-subscription-form>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>