<app-header [companyInfo]="etfPageInfo?.general" [showStickyCompanyInfo]="true"></app-header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-16 col-md-24">
        <app-etf-company-info class="section section--info" [companyInfo]="generalData"></app-etf-company-info>
      </div>
      <div class="col-lg-8 col-md-24">
        <app-premium-version class="premium-container-wrap" [etfStuff]="true"></app-premium-version>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-16 col-md-24 order-2 order-lg-1" *ngIf="etfPageInfo.etf_world_region || etfPageInfo.etf_allocation; else doughnutSkeleton">
        <app-allocation-charts class="section" [doughnutData]="doughnutData"></app-allocation-charts>
      </div>
      <ng-template #doughnutSkeleton>
        <div class="col-lg-16 col-md-24 order-2 order-lg-1">
          <div class="allocation-sk">
            <div class="allocation-sk__side">
              <div class="sk-item allocation-sk__title"></div>
              <div class="sk-item allocation-sk__subtitle"></div>
              <div class="allocation-sk__box">
                <div class="sk-item allocation-sk__circle"></div>
                <div class="allocation-sk__box__items">
                  <div class="sk-item allocation-sk__box__line"></div>
                  <div class="sk-item allocation-sk__box__line"></div>
                  <div class="sk-item allocation-sk__box__line"></div>
                  <div class="sk-item allocation-sk__box__line"></div>
                  <div class="sk-item allocation-sk__box__line"></div>
                </div>
              </div>
            </div>
            <div class="allocation-sk__side">
              <div class="sk-item allocation-sk__title"></div>
              <div class="sk-item allocation-sk__subtitle"></div>
              <div class="allocation-sk__box">
                <div class="sk-item allocation-sk__circle"></div>
                <div class="allocation-sk__box__items">
                  <div class="sk-item allocation-sk__box__line"></div>
                  <div class="sk-item allocation-sk__box__line"></div>
                  <div class="sk-item allocation-sk__box__line"></div>
                  <div class="sk-item allocation-sk__box__line"></div>
                  <div class="sk-item allocation-sk__box__line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="col-lg-8 col-md-24 order-1 order-lg-2" *ngIf="etfPageInfo?.general; else benchmarkSkeleton">
        <app-eft-benchmark class="aside" [legend]="etfPageInfo?.general"></app-eft-benchmark>
      </div>
      <ng-template #benchmarkSkeleton>
        <div class="col-lg-8 col-md-24 order-1 order-lg-2">
          <div class="benchmark-sk">
            <div class="benchmark-sk__block">
              <div class="sk-item benchmark-sk__title"></div>
              <div class="sk-item benchmark-sk__item"></div>
            </div>
            <div class="benchmark-sk__block">
              <div class="sk-item benchmark-sk__title"></div>
              <div class="sk-item benchmark-sk__item"></div>
              <div class="sk-item benchmark-sk__item"></div>
              <div class="sk-item benchmark-sk__item"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-lg-16 col-md-24">
        <div *ngIf="etfPageInfo.chart; else chartSkeleton" style="width: 100%">
          <app-main-chart class="section section--price" [benchmarkIndex]="benchmarkData" [spyIsActive]="false"></app-main-chart>
        </div>
        <ng-template #chartSkeleton>
          <div class="chart-sk">
            <div class="sk-item chart-sk__title"></div>
            <div class="sk-item chart-sk__subtitle"></div>
            <div class="chart-sk__triggers">
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
              <div class="sk-item chart-sk__triggers__item"></div>
            </div>
            <div class="chart-sk__lines">
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
              <div class="sk-item chart-sk__lines__item"></div>
            </div>
          </div>
        </ng-template>

        <div *ngIf="etfPageInfo.etf_holding && etfPageInfo.etf_sector_weight && etfPageInfo.etf_performance; else barsSkeleton" style="width: 100%">
          <app-bar-charts class="section" [barsData]="barsData"></app-bar-charts>
        </div>
        <ng-template #barsSkeleton>
          <div class="bars-sk">
            <div class="bars-sk__side">
              <div class="sk-item bars-sk__title"></div>
              <div class="sk-item bars-sk__subtitle"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
            </div>
            <div class="bars-sk__side">
              <div class="sk-item bars-sk__title"></div>
              <div class="sk-item bars-sk__subtitle"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
            </div>
            <div class="bars-sk__side">
              <div class="sk-item bars-sk__title"></div>
              <div class="sk-item bars-sk__subtitle"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
              <div class="sk-item bars-sk__line"></div>
            </div>
          </div>
        </ng-template>

        <app-long-tern-chart class="section" *ngIf="etfPageInfo?.etf_valuations_growth; else longTernSkeleton" [longTermData]="longTermData"></app-long-tern-chart>
        <ng-template #longTernSkeleton>
          <div class="long-tern-sk">
            <div class="sk-item long-tern-sk__title"></div>
            <div class="sk-item long-tern-sk__subtitle"></div>
            <div class="sk-item long-tern-sk__line-first"></div>
            <div class="sk-item long-tern-sk__line-second"></div>
          </div>
        </ng-template>

        <app-risk-adjusted-chart class="section" *ngIf="etfPageInfo?.etf_performance; else riskAdjustedSkeleton" [riskAdjustedData]="riskAdjustedData"></app-risk-adjusted-chart>
        <ng-template #riskAdjustedSkeleton>
          <div class="long-tern-sk">
            <div class="sk-item long-tern-sk__title"></div>
            <div class="sk-item long-tern-sk__subtitle"></div>
            <div class="sk-item long-tern-sk__line-first"></div>
          </div>
        </ng-template>
      </div>
      <div class="col-lg-8 col-md-24">
        <app-etf-valuation class="section section--valuation" *ngIf="etfPageInfo?.etf_valuations_growth; else valuationSkeleton" [valuationChart]="valuationData"></app-etf-valuation>
        <ng-template #valuationSkeleton>
          <div class="vbar-sk">
            <div class="sk-item vbar-sk__title"></div>
            <div class="sk-item vbar-sk__subtitle"></div>
            <div class="vbar-sk__lines">
              <div class="sk-item vbar-sk__line-first"></div>
              <div class="sk-item vbar-sk__line-second"></div>
              <div class="sk-item vbar-sk__line-first"></div>
              <div class="sk-item vbar-sk__line-second"></div>
            </div>
            <div class="vbar-sk__info">
              <div class="vbar-sk__info__side">
                <div class="sk-item vbar-sk__info__title"></div>
                <div class="sk-item vbar-sk__info__subtitle"></div>
              </div>
              <div class="vbar-sk__info__side">
                <div class="sk-item vbar-sk__info__title"></div>
                <div class="sk-item vbar-sk__info__subtitle"></div>
              </div>
            </div>
          </div>
        </ng-template>
        
        <app-yield-chart class="section" *ngIf="etfPageInfo?.etf && etfPageInfo?.etf_valuations_growth; else yieldSkeleton" [yieldData]="yieldData"></app-yield-chart>
        <ng-template #yieldSkeleton>
          <div class="long-tern-sk">
            <div class="sk-item long-tern-sk__title"></div>
            <div class="sk-item long-tern-sk__subtitle"></div>
            <div class="sk-item long-tern-sk__line-first"></div>
            <div class="sk-item long-tern-sk__line-second"></div>
          </div>
        </ng-template>

        <app-etf-risk class="section section--valuation" *ngIf="etfPageInfo?.etf_performance; else etfRiskSkeleton" [riskChart]="riskData"></app-etf-risk>
        <ng-template #etfRiskSkeleton>
          <div class="vbar-sk">
            <div class="sk-item vbar-sk__title"></div>
            <div class="sk-item vbar-sk__subtitle"></div>
            <div class="vbar-sk__lines">
              <div class="sk-item vbar-sk__line-first"></div>
              <div class="sk-item vbar-sk__line-second"></div>
            </div>
            <div class="vbar-sk__info">
              <div class="vbar-sk__info__side">
                <div class="sk-item vbar-sk__info__title"></div>
                <div class="sk-item vbar-sk__info__subtitle"></div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-16 col-md-24">
        <div class="section-subscription">
          <div class="section-top">
              <h2 class="h2">Be notified when our new features are released</h2><span class="section-top__sub decor--color-black decor--fw500">Some description text</span>
          </div>
          <app-subscription-form class="subscribe"></app-subscription-form>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>