// Transition
$transition-duration      : .35s;
$transition-type          : ease;

// Main colors
$black           : #101010;

$grey-dark       : #6F6E6E;
$grey-light      : #ECECEC;
$grey            : #C9C9C9;

$yellow          : #DFAF1D;
$red             : #B94552;

$green           : #10A75F;
$green-light     : #77A710;

$blue            : #1044A7;
$blue-light      : #578BDE;
$blue-dark       : #12377e;

$white           : #FFFFFF;
$white-almost    : #FBFBFB;

//Grid
$container-max-widths: (
  md: 768px,
  lg: 980px,
  xl: 1140px
);

$grid-columns:          24;
$grid-gutter-width:     3rem;

$grid-gutter-widths: (
  xs: $grid-gutter-width,
  sm: $grid-gutter-width,
  md: $grid-gutter-width,
  lg: $grid-gutter-width
);
