<div class="section-top">
    <h2 class="h2">Price</h2>
    <span class="section-top__sub">Share price over time vs. selected index</span>
</div>
<ul class="price-tabs">
    <li class="price-tabs__li">
        <button type="button" class="price-tabs__link">1D</button>
    </li>
    <li class="price-tabs__li">
        <button type="button" class="price-tabs__link">1M</button>
    </li>
    <li class="price-tabs__li">
        <button type="button" class="price-tabs__link">3M</button>
    </li>
    <li class="price-tabs__li">
        <button type="button" class="price-tabs__link active">YTD</button>
    </li>
    <li class="price-tabs__li">
        <button type="button" class="price-tabs__link">1Y</button>
    </li>
    <li class="price-tabs__li">
        <button type="button" class="price-tabs__link">3Y</button>
    </li>
    <li class="price-tabs__li">
        <button type="button" class="price-tabs__link">5Y</button>
    </li>
    <li class="price-tabs__li">
        <button type="button" class="price-tabs__link">10Y</button>
    </li>
</ul>
<div class="price-graph js-chart-line">
    <div class="price-legend">
      <div class="price-legend__line price-legend__line--green">
        <span class="price-legend__percentage">
            +11%
          <span class="price-legend__percentage__icon">
            <svg class="icon icon-arrow-up">
              <use xlink:href="#icon-arrow-up"></use>
            </svg>
          </span>
        </span>
        <span class="price-legend__code">SPX</span>
        <span class="price-legend__close">250.50</span>
      </div>
    </div>
    <div class="chart-container">
      <canvas #priceChart></canvas>
    </div>
</div>