  <div class="section-top">
    <h2 class="h2">Profitability (%)</h2><span class="section-top__sub">Trailing 12-months</span>
  </div>
  <div class="bars-horizontal">
    <div class="chart-container js-bars-horizontal">
      <canvas #profitabilityChart></canvas>
    </div>
  </div>
