<div class="benchmark">
    <span class="benchmark-ttl">{{legend.name.name}}</span>
    <span data-chartColorBlue="rgba(16,68,167,1)" class="benchmark-val benchmark-val--blue">Large Blend</span>
</div>
<div class="benchmark">
    <span class="benchmark-ttl">{{legend.name.code}}</span>
    <span data-chartColorGreen="rgba(16,167,95,1)" class="benchmark-val benchmark-val--green">strong metric</span>
    <span data-chartColorRed="rgba(185,69,82,1)" class="benchmark-val benchmark-val--red">weak metric</span>
    <span data-chartColorRed="rgba(185,69,82,1)" class="benchmark-val benchmark-val--neutral">neutral metric</span>
</div>