<div class="analyst-price-wrap">
  <div class="analyst-price-side">
    <div class="section-top">
      <h2 class="h2">Analyst price</h2><span class="section-top__sub">1 year period</span>
    </div>
    <div class="analyst">
      <div class="analyst-graph">
        <div class="analyst-graph__line">
          <div class="analyst-graph__line__min">
            <div class="analyst-graph__line__circle"></div>
            <span class="analyst-graph__line__txt">Min {{ analystPrice.week_low_52 | number }}</span>
          </div>
          <div class="analyst-graph__line__max">
            <div class="analyst-graph__line__circle"></div>
            <span class="analyst-graph__line__txt">Max {{ analystPrice.week_high_52 | number }}</span>
          </div>
          <div class="analyst-graph__line__wrap">
            <div class="analyst-graph__line__current"
              *ngIf="!(analystPrice.upside_or_downside_potential === null)"
              [ngStyle]="{'left': setCurrentAnalystPosition()}"
              [class.is-reversed]="this.currentAnalystValue >= 50"
              [class.is-general]="analystPrice.current < analystPrice.wall_street_target_price"
              [class.is-secondary]="analystPrice.current > analystPrice.wall_street_target_price"
            >
              <div class="analyst-graph__line__circle"></div>
              <span class="analyst-graph__line__txt">Current {{ analystPrice.current }}</span>
            </div>
            <div class="analyst-graph__line__target"
              *ngIf="!(analystPrice.wall_street_target_price === null)"
              [ngStyle]="{'left': setTargetAnalystPosition()}"
              [class.is-reversed]="this.targetAnalystValue >= 50"
              [class.is-general]="analystPrice.current > analystPrice.wall_street_target_price"
              [class.is-secondary]="analystPrice.current < analystPrice.wall_street_target_price"
            >
              <div class="analyst-graph__line__circle"></div>
              <span class="analyst-graph__line__txt">Wall Street Target Price {{ analystPrice.wall_street_target_price }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="analyst-price-side">
    <div class="analyst-status">
      <span class="analyst-status__ttl">Upside / Downside Potential</span>
      <div class="analyst-status__value" [ngClass]="analystPrice.upside_or_downside_potential > 0 ? 'analyst-status__value--up' : 'analyst-status__value--down'">
        <svg class="icon icon-arrow-up">
          <use xlink:href="#icon-arrow-up"></use>
        </svg>
        <span class="analyst-status__value-txt">{{ analystPrice.upside_or_downside_potential | number:'.0-2'}}</span>
      </div>
    </div>
  </div>
</div>
