<form class="search-field" [formGroup]="searchForm" [ngClass]="{'is-open' : dropdownVisibilityState}">
    <div class="form-group">
      <div class="input-wrap">
        <input type="text" name="user_search" placeholder="Search by ticker, company or ETF name" value=""
          class="form-control" formControlName="text" autocomplete="off" (focus)="toggleDropdown()" (blur)="toggleDropdown()">
        <div class="autocomplete-list" *ngIf="searchForm.get('text').value">
          <div class="autocomplete-list__item" *ngFor="let stock of searchContent | searchFormPipe:searchForm.get('text').value" (click)="getUrlQueryParams(stock.code, stock.exchange, stock.type)">
            <span class="autocomplete-list__item__text">
                <span class="autocomplete-list__item__code">{{stock.code}}</span>
                <span class="autocomplete-list__item__exchange">{{stock.exchange}}</span>
                <span class="autocomplete-list__item__name">{{stock.name}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <span class="search-field__btn">
      <svg class="icon icon-glass">
        <use xlink:href="#icon-glass"></use>
      </svg>
    </span>
</form>
<!-- <form class="example-form" [formGroup]="searchForm">
  <mat-form-field  appearance="fill">
    <mat-label>Search by ticker, company or ETF name</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           formControlName="text">
    <mat-autocomplete (optionSelected)="getUrlQueryParams($event.stock.code, $event.stock.exchange)">
      <mat-option *ngFor="let stock of searchContent | searchFormPipe:searchForm.get('text').value" [value]="stock">
        <div class="autocomplete-list__item" >
          <span class="autocomplete-list__item__text">
              <span class="autocomplete-list__item__code">{{stock.code}}</span>
              <span class="autocomplete-list__item__exchange">{{stock.exchange}}</span>
              <span class="autocomplete-list__item__name">{{stock.name}}</span>
          </span>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
