
  <div id="sectionInfoTopId" class="section-info__top">
    <div class="section-info__top-icon" *ngIf="companyInfo.logo !== null">
      <img src="https://eodhistoricaldata.com{{companyInfo.logo}}" alt="logo">
    </div>
    <div class="section-info__top-txt">
      <h1 class="h1">{{ companyInfo.name.name }} ({{ companyInfo.name.code }})</h1>
    </div>
  </div>
  <div class="section-info__content">
    <div class="section-info__content-header">
      <div class="section-info__content-header-col">
        <div class="section-info__content-val-wrap">
          <span class="section-info__content-val">{{ companyInfo.price }} {{ companyInfo.currency_symbol }}</span>
        </div>
        <span class="section-info__content-val__time" *ngIf="companyInfo.trading_time">{{ companyInfo.trading_time.status }}: {{ companyInfo.trading_time.time }}</span>
      </div>
      <div class="section-info__content-header-col">
        <div class="section-info__content-header-col">
          <span class="section-info__content-status" [ngClass]="companyInfo.one_day.profit > 0 ? 'decor--color-green' : 'decor--color-red'">{{ companyInfo.one_day.profit }}$</span>
          <span class="section-info__content-status" [ngClass]="companyInfo.one_day.percentage > 0 ? 'decor--color-green' : 'decor--color-red'">{{ companyInfo.one_day.percentage }}%</span>
          <span class="tooltip-container section-info__content-tooltip">
            <span>1-Day</span>
          </span>
        </div>
      </div>
      <div class="section-info__content-header-col">
        <span class="section-info__content-status" [ngClass]="companyInfo.year_to_date.profit > 0 ? 'decor--color-green' : 'decor--color-red'">{{ companyInfo.year_to_date.profit }}$</span>
        <span class="section-info__content-status" [ngClass]="companyInfo.year_to_date.percentage > 0 ? 'decor--color-green' : 'decor--color-red'">{{ companyInfo.year_to_date.percentage }}%</span>
        <button *ngIf="companyInfo.trading_time" type="button" class="tooltip-container section-info__content-tooltip js-tooltip">
          <span>YTD</span>
          <span class="tooltip-dropdown">
            <svg class="icon icon-tooltip">
              <use xlink:href="#icon-tooltip"></use>
            </svg>
            <span class="tooltip-dropdown__txt">YTD (year to date) is a period, starting from the beginning of the current calendar year, and continuing up to the prior day's close: {{ companyInfo.trading_time.time }}</span>
          </span>
        </button>
      </div>
    </div>
    <ul class="section-info__content-list">
        <li class="section-info__content-list-li" *ngIf="companyInfo.ratio && (companyInfo.ratio !== null || companyInfo.ratio !== '')">
            <span class="section-info__content-list-li-ttl">Rating:</span>
            <span class="section-info__content-list-li-txt section-info__content-list-li-rate" [attr.data-rate]="companyInfo.ratio"></span>
        </li>
        <li class="section-info__content-list-li" *ngIf="companyInfo.net_expense_ratio && companyInfo.net_expense_ratio !== null">
            <span class="section-info__content-list-li-ttl">Management Expense Ratio (MER):</span>
            <span class="section-info__content-list-li-txt">{{ (companyInfo.net_expense_ratio * 100).toFixed(2)}}%</span>
        </li>
        <li class="section-info__content-list-li" *ngIf="companyInfo.currency && companyInfo.currency !== null">
            <span class="section-info__content-list-li-ttl">Currency:</span>
            <span class="section-info__content-list-li-txt">{{ companyInfo.currency }}</span>
        </li>
        <li class="section-info__content-list-li" *ngIf="companyInfo.exchange && companyInfo.exchange !== null">
            <span class="section-info__content-list-li-ttl">Exchange:</span>
            <span class="section-info__content-list-li-txt">{{ companyInfo.exchange }}</span>
        </li>
        <li class="section-info__content-list-li" *ngIf="companyInfo.total_assets && companyInfo.total_assets !== null">
            <span class="section-info__content-list-li-ttl">Assets Under Management:</span>
            <span class="section-info__content-list-li-txt">$ {{(companyInfo.total_assets | amount) }}</span>
        </li>
        <li class="section-info__content-list-li" *ngIf="companyInfo.inception_date && companyInfo.inception_date !== null">
            <span class="section-info__content-list-li-ttl">Inception Date:</span>
            <span class="section-info__content-list-li-txt">{{ companyInfo.inception_date }}</span>
        </li>
        <li class="section-info__content-list-li" *ngIf="companyInfo.company_name && companyInfo.company_name !== null">
            <span class="section-info__content-list-li-ttl">Company Name:</span>
            <span class="section-info__content-list-li-txt">{{ companyInfo.company_name }}</span>
        </li>
    </ul>
    <article class="section-info__content-article" *ngIf="companyInfo.description && companyInfo.description !== null">
      <div class="section-info__content-article__inner" [@slideToggle]="readMore">
        <p>{{companyInfo.description}}</p>
      </div>
      <button type="button" class="button-line" (click)="toggleHelpMenu()">
        <span class="decor--show">{{readMoreBtnText}}</span>
      </button>
    </article>
  </div>