<div class="section-top">
  <h2 class="h2">Price</h2>
  <span class="section-top__sub">Share price over time vs. selected index</span>
</div>
<!-- <div class="form-group" *ngIf="benchmarkIndex.benchmark_index">
  <label class="checkbox-label">
    <input type="checkbox" checked="checked" [(ngModel)]="spyIsActive" class="hidden-input"/>
    <div class="check-icon">
      <svg class="icon icon-check">
        <use xlink:href="#icon-check"></use>
      </svg>
    </div><span class="check-value">SPY</span>
  </label>
</div> -->
<ul class="price-tabs">
  <li class="price-tabs__li" *ngFor="let period of periods; index as i" (click)="listClick(true, i, period)">
    <button type="button" class="price-tabs__link" [ngClass]="{'active': period.isActive}" [disabled]="period.disabled">{{period.name}}</button>
  </li>
</ul>
<app-price-chart [queryParams]="queryParams" [spyIsActive]="spyIsActive"></app-price-chart>
<app-earnings-chart></app-earnings-chart>
<app-preloader></app-preloader>
