<div [class.hidden]="showEpsChart">
  <h2 class="h2">Earnings Per Share (EPS)</h2>
  <div class="earnings-graph">
    <div class="earnings-legend">
      <span class="earnings-legend__line earnings-legend__line--blue">EPS Estimate</span>
      <span class="earnings-legend__line earnings-legend__line--halfcolor">EPS Actual</span>
    </div>
    <div class="chart-container js-chart-points">
      <canvas #earningsChart></canvas>
    </div>
  </div>
</div>
