<form class="subscribe-form" [formGroup]="subscribeForm" (ngSubmit)="submit()">
  <div class="form-group" [ngClass]="{'form-group--error': (submitted && subscribeForm.get('email').invalid)}">
    <div class="input-wrap">
      <input type="email" name="user_field" placeholder="Email" value="" class="form-control" formControlName="email"/>
      <span class="input-error" *ngIf="submitted && subscribeForm.get('email').invalid">
        <svg class="icon icon-error">
          <use xlink:href="#icon-error"></use>
        </svg>
        <span class="input-error__txt" *ngIf="submitted && subscribeForm.get('email').errors.required">This field is required!</span>
        <span class="input-error__txt" *ngIf="submitted && subscribeForm.get('email').errors.email">Please, enter your e-mail correctly!</span>
      </span>
    </div>
  </div>
  <button type="submit" class="button button--blue"><span>Subscribe</span></button>
</form>
