<div class="modal-wrapper modal-wrapper--sm">
    <button type="button" class="modal-close" mat-dialog-close>
        <svg class="icon icon-close">
            <use xlink:href="#icon-close"></use>
        </svg>
    </button>
    <mat-dialog-content>
        <div class="modal-success">
            <p>You are successfully subscribed to the newsletter!</p>
        </div>
    </mat-dialog-content>
</div>